.mr-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden.modal-reserv-room {
  transform: translate(-50%, -50%) scale(0.7);

  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-reserv-room {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fffdee;
  border-radius: 2px;
  padding: 16px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mr-close-btn {
  margin-left: auto;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
}
.mr-svg-close-btn {
  width: 100%;
  height: 100%;
  stroke: black;
}
.mr-modal-title {
  margin-top: 20px;
  text-align: center;
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #000000;
}
.mr-modal-input::placeholder {
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #808080;
}
.mr-text-input {
}
.mr-form-input {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.mr-tablet-version:nth-child(n + 2) {
  margin-top: 20px;
}

.mr-input-wrap {
  position: relative;
}
.mr-svg-down-bold {
  fill: #c79002;
  position: absolute;
  right: 15px;
  height: 24px;
  width: 24px;
  top: 50%;
  transform: translateY(-50%);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.mr-modal-input {
  padding-left: 12px;
  padding-right: 15px;
  border: 1px solid #c79002;
  border-radius: 2px;
  width: 100%;
  height: 54px;
  background-color: transparent;
}
.mr-modal-input:hover,
.mr-modal-input:focus,
.mr-modal-input:active {
  border: 2px solid #c79002;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.mr-modal-input:active {
  border: 2px solid #c79002;
}
.mr-input-after-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #c79002;
  padding-left: 12px;
}
.mr-input-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mr-modal-confirm-btn {
  width: 100%;
  height: 64px;
  margin-top: 40px;
}
.mr-modal-confirm-btn {
  border: 1px solid #f3c653;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  background-color: #000000;
}
.mr-modal-confirm-btn:hover,
.mr-modal-confirm-btn:focus {
  background-color: #f3c653;
  color: #000000;
}

.mr-tablet-version {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ---------------mob version-------------- */
/* ---------------mob version-------------- */
@media screen and (min-width: 414px) {
  .modal-reserv-room {
    width: 414px;
  }
  .mr-modal-input {
    width: 382px;
  }
}

/* ---------------Tab version-------------- */
/* ---------------Tab version-------------- */
@media screen and (min-width: 1024px) {
  .modal-reserv-room {
    width: 712px;
    height: auto;
    padding-left: 60px;
    padding-right: 60px;
  }

  .modal-reserv-room > .mr-form-input {
    margin-top: 40px;
  }
  .mr-modal-title {
    font-size: 40px;
    line-height: 46px;
  }

  .mr-modal-input {
    width: 288px;
    height: 64px;
  }

  .mr-tablet-version:nth-child(1) {
    display: flex;
    gap: 16px;
    flex-direction: row;
  }
  .mr-tablet-version:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 28px;
  }
  .mr-tablet-version:nth-child(3) {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 28px;
  }
}
