.main-hotel {
    padding-top: 32px;
}

.section-hotel {
    padding-bottom: 32px;
}

.topic-hotel-1 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: var(--second-text-color);
    margin-bottom: 8px;
}

.topic-hotel-2 {
    font-family: 'Film P3 Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: var(--third-grey-color);

}

.topic-hotel-item-oneblock,
.topic-hotel-item-oneblock-s2 {
    margin-bottom: 32px;
}

.topic-hotel-3 {
    font-family: 'Times New Roman Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    color: var(--black-color);
    margin-bottom: 12px;
}

.topic-hotel-4,
.topic-hotel-4-s2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.topic-hotel-4 {
    max-width: 258px;
}

.topic-hotel-4-s2 {
    max-width: 242px;
}


.foto-hotel-s1 {
    display: flex;
    justify-content: right;
}

.arrow-hotel-1 {
    display: flex;
    justify-content: left;
    gap: 34px;
    margin-top: 28px;
}

.arrow-hotel-item {
    background-color: transparent;
}

.button-hotel-s1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.btn-hotel-1 {
    padding: 14px 64.5px;
    width: -webkit-fill-available;
}

.btn-hotel-2 {
    padding: 14px 37px;
}

.slider-hotel-s1,
.slider-hotel-s2 {
    padding-bottom: 28px;
}

/* section 2*/

.main-hotel-s2 {
    background-color: var(--fon-dark-lemon-color);
}

.topic-hotel-item-oneblock-s2 {
    text-align: right;
}

.topic-hotel-item-tooblock-s2 {
    display: grid;
    justify-content: right;
}

.foto-hotel-s2 {
    display: flex;
}

.slider-hotel-s2,
.slider-hotel-s2-tablet,
.slider-hotel-s2-desktop {
    display: grid;
    justify-content: right;
    gap: 28px;
}

.arrow-hotel-s2 {
    display: flex;
    justify-content: right;
    gap: 34px;
}

.slider-hotel-s1-tablet,
.slider-hotel-s2-tablet,
.slider-hotel-s1-desktop,
.slider-hotel-s2-desktop {
    display: none;
}

.foto-hotel-s1-tablet,
.foto-hotel-s2-tablet {
    display: none;
}

.foto-hotel-s1-tablet,
.foto-hotel-s2-tablet {
    background-image: url(../../public/img/hotel/hotel-double1-room-img1-for-tablet.jpg);
    width: 400px;
    height: 524px;
    background-repeat: no-repeat;
    margin-top: -94px;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {

    .foto-hotel-s1-tablet,
    .foto-hotel-s2-tablet {
        background-image: url(../../public/img/hotel/hotel-double1-room-img1-for-tablet@2x.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 1024px) {

    .main-hotel {
        padding-top: 62px;
        padding-bottom: 0px;
    }

    .section-hotel {
        padding-bottom: 48px;
    }

    .topic-hotel-1 {
        font-size: 32px;
        margin-bottom: 4px;
    }

    .topic-hotel-2 {
        font-size: 64px;
    }

    .topic-hotel-3 {
        font-size: 30px;
        margin-bottom: 16px;
    }

    .topic-hotel-4,
    .topic-hotel-4-s2 {
        font-size: 16px;
    }

    .topic-hotel-item-oneblock,
    .topic-hotel-item-oneblock-s2 {
        margin-bottom: 62px;
    }


    .foto-hotel-s1,
    .foto-hotel-s2 {
        display: none;
    }

    .foto-hotel-s1-tablet,
    .foto-hotel-s2-tablet {
        display: block;
    }

    .topic-hotel-s1 {
        display: flex;
        gap: 26px;
    }

    .topic-hotel-s2 {
        display: flex;
        justify-content: center;
        gap: 45px;
    }

    .slider-hotel-s1,
    .slider-hotel-s2 {
        display: none;
    }

    .slider-hotel-s1-tablet,
    .slider-hotel-s2-tablet {
        display: block;
    }

    .section-hotel-down {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .arrow-hotel-1 {
        justify-content: right;
    }


    .button-hotel-s1 {
        display: grid;
    }


    .arrow-hotel-s2 {
        margin-top: 40px;
        justify-content: left;
    }

    .topic-hotel-4 {
        max-width: 439px;

    }

    .topic-hotel-4-s2 {
        max-width: 400px;
    }


}

@media screen and (min-width: 1280px) {

    .main-hotel {
        padding-top: 72px;

    }

    .foto-hotel-s1-tablet,
    .foto-hotel-s2-tablet {
        background-image: url(../../public/img/hotel/hotel-double1-room-img1-for-desktop.jpg);
        height: 574px;
        width: 460px;
        background-repeat: no-repeat;
        margin-top: -104px;
        background-size: cover;

    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {

        .foto-hotel-s1-tablet,
        .foto-hotel-s2-tablet {
            background-image: url(../../public/img/hotel/hotel-double1-room-img1-for-desktop@2x.jpg);
            background-size: cover;
        }
    }



    .topic-hotel-item-oneblock,
    .topic-hotel-item-oneblock-s2 {
        margin-bottom: 72px;
    }

    .topic-hotel-3 {
        font-size: 36px;
        margin-bottom: 24px;
    }


    .topic-hotel-s1 {
        display: flex;
        gap: 48px;
    }

    .topic-hotel-s2 {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .topic-hotel-s3 {
        display: flex;
        justify-content: center;
        gap: 149px;
    }

    .slider-hotel-s1-tablet,
    .slider-hotel-s2-tablet {
        display: none;
    }


    .slider-hotel-s1-desktop,
    .slider-hotel-s2-desktop {
        display: block;
    }

    .topic-hotel-4 {
        max-width: 400px;

    }

}

/*---------------------------SWIPER-------------------------------*/
.hotel-swiper {
    width: 194px;
}

.hotel-page-slide {
    max-width: 194px;
}

.hotel-swiper-btn {
    display: flex;
    margin-left: 16px;
    gap: 33px;
    justify-content: right;
}

.hotel-swiper-btn.triple-room-btn {
    justify-content: left;
}

.hotel-slider-images {
    max-width: 194px;
}

.left-swiper-btn,
.rigth-swiper-btn {
    background-color: transparent;
}

.foto-hotel {
    margin-bottom: 32px;
}

.hotel-swiper-btn {
    margin-bottom: 28px;
}





@media screen and (min-width: 1024px) {
    .hotel-swiper {
        width: 428px;

    }

    .hotel-page-slide {
        max-width: 194px;
    }

    .hotel-slider-images {
        max-width: 194px;
    }

    .hotel-slide-container {
        margin: 0;
    }

    .hotel-swiper-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hotel-swiper-container.hotel-triple-room {
        flex-direction: row-reverse;
    }

    /* .button-hotel-s1{justify-content: flex-end;} */

    .hotel-swiper-btn {
        margin-bottom: 47px;
    }
}

@media screen and (min-width: 1280px) {
    .section-hotel {
        padding-bottom: 0;
    }

    .hotel-swiper {
        width: 548px;
    }

    .hotel-page-slide {
        max-width: 254px;
    }

}