<section class="hero-restaurant">
  <div class="container">
    <div class="hero-thumb">
      <h1 class="hero-title" data-aos="zoom-in" >M I M I H O</h1>
      <p class="hero-text" data-aos="zoom-in" data-aos-delay="200">Ресторан</p>
      <h2 class="hero-subtitle" data-aos="zoom-in" data-aos-delay="500">СМАК ЖИТТЯ 24/7</h2>
    </div>
    <div class="hero-btn-thumb">
      <button
        type="button"
        class="hero-btn btn btn-hero-rest js-open-modal"
        data-modal="2"
      >
        Забронювати столик
      </button>
      <a
        href="#rest-menu-header"
        class="hero-btn btn btn-hero-rest"
        style="text-align: center"
        >Переглянути меню</a
      >
    </div>
  </div>
</section>
