<section class="hero-restaurant">
    <div class="container ">
        <div class="hero-thumb">
            <h1 class="hero-title">M I M I H O</h1>
            <p class="hero-text">Ресторан</p>
            <h2 class="hero-subtitle">СМАК ЖИТТЯ 24/7</h2>
        </div>
        <div class="hero-btn-thumb">
            <button type="button" class="hero-btn btn js-open-modal" data-modal="2">Забронювати столик</button>
            <button type="button" class="hero-btn btn">Переглянути меню tag a</button>
        </div>
    </div>
</section>