<section class="rest-menu">
  <div class="container">
    <h2 class="rest-menu-header">МЕНЮ РЕСТОРАНУ</h2>
    <div class="rest-menu-chapter">
      <h3 class="rest-chapter-header">Гарячі страви</h3>
      <ul class="rest-menu-list">
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Борщ з телятини з квасолею</h4>
          <p class="rest-meal-ingredients">
            Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
            помідори, зелень, сметана
          </p>
          <p class="rest-meal-weight">400 г</p>
          <p class="rest-meal-price">240 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Суп сирний з куркою</h4>
          <p class="rest-meal-ingredients">
            Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
          </p>
          <p class="rest-meal-weight">400 г</p>
          <p class="rest-meal-price">200 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Паста карбонара</h4>
          <p class="rest-meal-ingredients">
            Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
          </p>
          <p class="rest-meal-weight">350 г</p>
          <p class="rest-meal-price">430 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Стейк зі свинини</h4>
          <p class="rest-meal-ingredients">
            Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами
          </p>
          <p class="rest-meal-weight">400 г</p>
          <p class="rest-meal-price">500 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Горбуша в соусі з білого вина</h4>
          <p class="rest-meal-ingredients">
            Ніжна горбуша, вершковий соус на основі білого вина
          </p>
          <p class="rest-meal-weight">400 г</p>
          <p class="rest-meal-price">400 грн</p>
        </li>
      </ul>
    </div>
    <div class="rest-menu-chapter">
      <h3 class="rest-chapter-header">Гарніри та закуски</h3>
      <ul class="rest-menu-list">
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Запечені овочі</h4>
          <p class="rest-meal-ingredients">
            Кабачок, перець, помідор, баклажан
          </p>
          <p class="rest-meal-weight">200 г</p>
          <p class="rest-meal-price">230 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Картопля фрі</h4>
          <p class="rest-meal-ingredients">Картопля, соус томатний</p>
          <p class="rest-meal-weight">150 г</p>
          <p class="rest-meal-price">160 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Картопля по-селянськи</h4>
          <p class="rest-meal-ingredients">Картопля, спеції, соус пікантний</p>
          <p class="rest-meal-weight">150 г</p>
          <p class="rest-meal-price">160 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Хрумкі соління з бочки</h4>
          <p class="rest-meal-ingredients">
            Огірок солений, помідор квашений, квашена капуста, морква
            по-корейські
          </p>
          <p class="rest-meal-weight">250 г</p>
          <p class="rest-meal-price">350 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Крильця курячі в медовому соусі</h4>
          <p class="rest-meal-ingredients">
            Крильця курячі, гірчично-медовий соус, подається з морквою, селерою
            і соусом блючиз
          </p>
          <p class="rest-meal-weight">400 г</p>
          <p class="rest-meal-price">420 грн</p>
        </li>
      </ul>
    </div>
    <div class="rest-menu-chapter">
      <h3 class="rest-chapter-header">Салати</h3>
      <ul class="rest-menu-list">
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Цезар з куркою</h4>
          <p class="rest-meal-ingredients">
            Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус
            цезар
          </p>
          <p class="rest-meal-weight">230 г</p>
          <p class="rest-meal-price">450 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Цезар з креветками</h4>
          <p class="rest-meal-ingredients">
            Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки,
            соус цезар
          </p>
          <p class="rest-meal-weight">230 г</p>
          <p class="rest-meal-price">300 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Грецький салат</h4>
          <p class="rest-meal-ingredients">
            Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя
            салату, соус
          </p>
          <p class="rest-meal-weight">230 г</p>
          <p class="rest-meal-price">280 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">М’ясний салат</h4>
          <p class="rest-meal-ingredients">
            Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський
            перець, соус ранч
          </p>
          <p class="rest-meal-weight">230 г</p>
          <p class="rest-meal-price">300 грн</p>
        </li>
      </ul>
    </div>
    <div class="rest-menu-chapter">
      <h3 class="rest-chapter-header">Десерти</h3>
      <ul class="rest-menu-list">
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Торт наполеон</h4>
          <p class="rest-meal-weight">230 г</p>
          <p class="rest-meal-price">300 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Торт маковий</h4>
          <p class="rest-meal-weight">230 г</p>
          <p class="rest-meal-price">300 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Тірамісу</h4>
          <p class="rest-meal-weight">120 г</p>
          <p class="rest-meal-price">260 грн</p>
        </li>
      </ul>
    </div>
    <div class="rest-menu-chapter">
      <h3 class="rest-chapter-header">Напої</h3>
      <ul class="rest-menu-list">
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Чай чорний/зелений</h4>
          <p class="rest-meal-weight">500 мл</p>
          <p class="rest-meal-price">100 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Еспресо</h4>
          <p class="rest-meal-weight">30 мл</p>
          <p class="rest-meal-price">100 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Американо</h4>
          <p class="rest-meal-weight">150 мл</p>
          <p class="rest-meal-price">100 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Капучино</h4>
          <p class="rest-meal-weight">200 мл</p>
          <p class="rest-meal-price">160 грн</p>
        </li>
        <li class="rest-menu-item">
          <h4 class="rest-meal-header">Лате</h4>
          <p class="rest-meal-weight">200 мл</p>
          <p class="rest-meal-price">160 грн</p>
        </li>
      </ul>
    </div>

    <button type="button" class="#">Забронювати столик</button>
  </div>
</section>
