<section class="about-restaurant kitchen">
  <div class="container ">
    <div class="about-rest-container kitchen-container ">
      <div class="about-rest-title-container kitchen-title-container">
        <p class="about-pretitles kitchen-pretitle">Amet minim mollit non</p>
        <h2 class="about-titles kitchen-title">MIMINO</h2>
        <p class="about-subtitles kitchen-sutitles"> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          Velit
          officia consequat duis enim velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>

      <picture class="about-rest-picture kitchen-picture">
        <source
          srcset="./img/restaurant/rest-kinchen-img1-for-desktop.jpg 1x, ./img/restaurant/rest-kinchen-img1-for-desktop@2x.jpg 2x "
          media="(min-width: 1280px)">
        <source
          srcset="./img/restaurant/rest-kinchen-img1-for-tablet.jpg 1x, ./img/restaurant/rest-kinchen-img1-for-tablet@2x.jpg 2x"
          media="(min-width: 1024px)">
        <source
          srcset="./img/restaurant/rest-kinchen-img1-for-mobile.jpg 1x, ./img/restaurant/rest-kinchen-img1-for-mobile.jpg 2x"
          media="(min-width: 384px)">


        <img class="about-first-images first-image" src="./img/restaurant/rest-kinchen-img1-for-mobile.jpg"
          alt="restaurant interior">
      </picture>
    </div>
    <div class="second-picture-container food-container">
      <picture class="">
        <source
          srcset="./img/restaurant/rest-kinchen-img2-for-desktop.jpg 1x, ./img/restaurant/rest-kinchen-img2-for-desktop@2x.jpg 2x  "
          media="(min-width: 1280px)">
        <source
          srcset="./img/restaurant/rest-kinchen-img2-for-tablet.jpg 1x, ./img/restaurant/rest-kinchen-img2-for-tablet@2x.jpg 2x"
          media="(min-width: 1024px)">
        <source
          srcset="./img/restaurant/rest-kinchen-img2-for-mobile.jpg 1x, ./img/restaurant/rest-kinchen-img2-for-mobile.jpg 2x "
          media="(max-width: 384px)">


        <img class="about-second-images second-image" src="./img/restaurant/rest-kinchen-img2-for-desktop.jpg"
          alt="restaurant terrace">
      </picture>
      <p class="about-secondary-subtitle kitchen-sutitle">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
        Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
  </div>
</section>