<section class="zero">
    <div class="container">
        <p class="zero-pre-title" data-aos="fade-right">Amet minim mollit non</p>
        <h2 class="zero-title" data-aos="fade-right" data-aos-delay="200">MIMIHO</h2>
        <p class="zero-after-title" data-aos="fade-right" data-aos-delay="500">Amet minim mollit non deserunt ullamco
            est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <picture class="zero-pic-first" data-aos="flip-left">
            <source srcset="./img/restaurant/rest-kinchen-img1-for-desktop.jpg      1x, 
                        ./img/restaurant/rest-kinchen-img1-for-desktop@2x.jpg   2x" media="(min-width: 1280px)"
                width="460" height="574">
            <source srcset="./img/restaurant/rest-kinchen-img1-for-tablet.jpg       1x, 
                        ./img/restaurant/rest-kinchen-img1-for-tablet@2x.jpg    2x" media="(min-width: 1024px)"
                width="400" height="524">
            <source srcset="./img/restaurant/rest-kinchen-img1-for-mobile.jpg       1x, 
                        ./img/restaurant/rest-kinchen-img1-for-mobile@2x.jpg       2x" media="(min-width: 1023px)">
            <img src="./img/restaurant/rest-kinchen-img1-for-mobile.jpg"
                alt="restaurant interior" width="244" height="322">
        </picture>
        <div class="zero-wrap">
            <picture data-aos="flip-right" class="zero-pic">
                <source srcset="./img/restaurant/rest-kinchen-img2-for-desktop.jpg      1x, 
                            ./img/restaurant/rest-kinchen-img2-for-desktop@2x.jpg   2x" media="(min-width: 1280px)"
                    width="460" height="574">
                <source srcset="./img/restaurant/rest-kinchen-img2-for-tablet.jpg       1x, 
                            ./img/restaurant/rest-kinchen-img2-for-tablet@2x.jpg    2x" media="(min-width: 1024px)"
                    width="350" height="500">
                <source srcset="./img/restaurant/rest-kinchen-img2-for-mobile.jpg       1x, 
                            ./img/restaurant/rest-kinchen-img2-for-mobile@2x.jpg    2x" media="(min-width: 1023px)">
                <img  src="./img/restaurant/rest-kinchen-img2-for-mobile.jpg" alt="restaurant interior"
                    width="200" height="278">
            </picture>
            <p class="zero-text" data-aos="fade-left">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia
                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture class="zero-pic-slide">
                        <source
                            srcset="./img/restaurant/kitchen-slider1-for-desktop.jpg 1x, ./img/restaurant/kitchen-slider1-for-desktop@2x.jpg 2x  "
                            media="(min-width: 1280px)">
                        <source
                            srcset="./img/restaurant/kitchen-slider1-for-tablet.jpg 1x, ./img/restaurant/kitchen-slider1-for-tablet@2x.jpg 2x"
                            media="(min-width: 1024px)">
                        <source
                            srcset="./img/restaurant/kitchen-slider1-for-mobile.jpg 1x, ./img/restaurant/kitchen-slider1-for-mobile@2x.jpg 2x "
                            media="(max-width: 384px)">
                        <img class="kitchen-swiper-img" src="./img/restaurant/kitchen-slider1-for-mobile.jpg"
                            alt="Pic1">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="zero-pic-slide">
                        <source
                            srcset="./img/restaurant/kitchen-slider2-for-desktop.jpg 1x, ./img/restaurant/kitchen-slider2-for-desktop@2x.jpg 2x  "
                            media="(min-width: 1280px)">
                        <source
                            srcset="./img/restaurant/kitchen-slider2-for-tablet.jpg 1x, ./img/restaurant/kitchen-slider2-for-tablet@2x.jpg 2x"
                            media="(min-width: 1024px)">
                        <source
                            srcset="./img/restaurant/kitchen-slider2-for-mobile.jpg 1x, ./img/restaurant/kitchen-slider2-for-mobile@2x.jpg 2x "
                            media="(max-width: 384px)">
                        <img class="kitchen-swiper-img" src="./img/restaurant/kitchen-slider2-for-mobile.jpg"
                            alt="Pic2">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="zero-pic-slide">
                        <source
                            srcset="./img/restaurant/kitchen-slider4-for-desktop.jpg 1x, ./img/restaurant/kitchen-slider4-for-desktop@2x.jpg 2x  "
                            media="(min-width: 1280px)">
                        <source
                            srcset="./img/restaurant/kitchen-slider4-for-tablet.jpg 1x, ./img/restaurant/kitchen-slider4-for-tablet@2x.jpg 2x"
                            media="(min-width: 1024px)">
                        <source
                            srcset="./img/restaurant/kitchen-slider4-for-mobile.jpg 1x, ./img/restaurant/kitchen-slider4-for-mobile@2x.jpg 2x "
                            media="(max-width: 384px)">
                        <img class="kitchen-swiper-img" src="./img/restaurant/kitchen-slider4-for-mobile.jpg"
                            alt="Pic4">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture class="zero-pic-slide">
                        <source
                            srcset="./img/restaurant/kitchen-slider5-for-desktop.jpg 1x, ./img/restaurant/kitchen-slider5-for-desktop@2x.jpg 2x  "
                            media="(min-width: 1280px)">
                        <source
                            srcset="./img/restaurant/kitchen-slider5-for-tablet.jpg 1x, ./img/restaurant/kitchen-slider5-for-tablet@2x.jpg 2x"
                            media="(min-width: 1024px)">
                        <source
                            srcset="./img/restaurant/kitchen-slider5-for-mobile.jpg 1x, ./img/restaurant/kitchen-slider5-for-mobile@2x.jpg 2x "
                            media="(max-width: 384px)">
                        <img class="kitchen-swiper-img" src="./img/restaurant/kitchen-slider5-for-mobile.jpg"
                            alt="Pic5">
                    </picture>
                </div>
            </div>
            <div class="zero-buttons">
                <div class="swiper-button-next">
                    <svg class="zero-icon" width="32" height="32">
                        <use href="./img/icons.svg#left-arrow"></use>
                    </svg>
                </div>
                <div class="swiper-button-prev">
                    <svg class="zero-icon" width="32" height="32">
                        <use href="./img/icons.svg#right-arrow"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>