
<section class="about-restaurant-kitchen ">
  <div class="container ">
    <div class="about-rest-container kitchen-container ">
      <div class="about-rest-title-container kitchen-title-container">
        <p class="about-pretitles kitchen-pretitle">Amet minim mollit non</p>
        <h2 class="about-titles kitchen-title">MIMINO</h2>
        <p class="about-subtitles kitchen-sutitles"> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
          Velit
          officia consequat duis enim velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <picture class="about-rest-picture kitchen-picture">
        <source
          srcset="./img/restaurant/rest-kinchen-img1-for-desktop.jpg 1x, ./img/restaurant/rest-kinchen-img1-for-desktop@2x.jpg 2x "
          media="(min-width: 1280px)">
        <source
          srcset="./img/restaurant/rest-kinchen-img1-for-tablet.jpg 1x, ./img/restaurant/rest-kinchen-img1-for-tablet@2x.jpg 2x"
          media="(min-width: 1024px)">
        <source
          srcset="./img/restaurant/rest-kinchen-img1-for-mobile.jpg 1x, ./img/restaurant/rest-kinchen-img1-for-mobile.jpg 2x"
          media="(min-width: 384px)">
        <img class="about-first-images first-kitchen-image" src="./img/restaurant/rest-kinchen-img1-for-mobile.jpg"
          alt="restaurant interior">
      </picture>
    </div>
    <div class="second-picture-container food-container">
      <picture class="">
        <source
          srcset="./img/restaurant/rest-kinchen-img2-for-desktop.jpg 1x, ./img/restaurant/rest-kinchen-img2-for-desktop@2x.jpg 2x  "
          media="(min-width: 1280px)">
        <source
          srcset="./img/restaurant/rest-kinchen-img2-for-tablet.jpg 1x, ./img/restaurant/rest-kinchen-img2-for-tablet@2x.jpg 2x"
          media="(min-width: 1024px)">
        <source
          srcset="./img/restaurant/rest-kinchen-img2-for-mobile.jpg 1x, ./img/restaurant/rest-kinchen-img2-for-mobile.jpg 2x "
          media="(max-width: 384px)">

        <img class="about-second-images second-kitchen-image" src="./img/restaurant/rest-kinchen-img2-for-desktop.jpg"
          alt="restaurant terrace">
      </picture>
      <p class="about-secondary-subtitle kitchen-sutitle">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
        amet
        sint.
        Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
  </div>
  <!------------------------------------SLIDER----------------------------------->
  <div class="container ">
    <div class="homepage-slider-container kitchen-wraper">
      <div class=" swiper mySwiper">
        <div class="swiper-wrapper kitchen-wraper ">
          <div class="swiper-slide homepage-swipers">
            <picture class="kitchen-image">
              <source
                srcset="./img/restaurant/kitchen-slider1-for-desktop.jpg 1x, ./img/restaurant/kitchen-slider1-for-desktop@2x.jpg 2x  "
                media="(min-width: 1280px)">
              <source
                srcset="./img/restaurant/kitchen-slider1-for-tablet.jpg 1x, ./img/restaurant/kitchen-slider1-for-tablet@2x.jpg 2x"
                media="(min-width: 1024px)">
              <source
                srcset="./img/restaurant/kitchen-slider1-for-mobile.jpg 1x, ./img/restaurant/kitchen-slider1-for-mobile@2x-.jpg 2x "
                media="(max-width: 384px)">
              <img class="kitchen-swiper-img" src="./img/restaurant/kitchen-slider1-for-mobile.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide kitchen-swiper-wrapper">
            <picture class="kitchen-image">
              <source
                srcset="./img/restaurant/kitchen-slider2-for-desktop.jpg 1x, ./img/restaurant/kitchen-slider2-for-desktop@2x.jpg 2x  "
                media="(min-width: 1280px)">
              <source
                srcset="./img/restaurant/kitchen-slider2-for-tablet.jpg 1x, ./img/restaurant/kitchen-slider2-for-tablet@2x.jpg 2x"
                media="(min-width: 1024px)">
              <source
                srcset="./img/restaurant/kitchen-slider2-for-mobile.jpg 1x, ./img/restaurant/kitchen-slider2-for-mobile@2x-.jpg 2x "
                media="(max-width: 384px)">
              <img class="kitchen-swiper-img" src="./img/restaurant/kitchen-slider2-for-mobile.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide kitchen-swiper-wrapper ">
            <picture class="kitchen-image">
              <source
                srcset="./img/restaurant/kitchen-slider4-for-desktop.jpg 1x, ./img/restaurant/kitchen-slider4-for-desktop@2x.jpg 2x  "
                media="(min-width: 1280px)">
              <source
                srcset="./img/restaurant/kitchen-slider4-for-tablet.jpg 1x, ./img/restaurant/kitchen-slider4-for-tablet@2x.jpg 2x"
                media="(min-width: 1024px)">
              <source
                srcset="./img/restaurant/kitchen-slider4-for-mobile.jpg 1x, ./img/restaurant/kitchen-slider4-for-mobile@2x-.jpg 2x "
                media="(max-width: 384px)">
              <img class="kitchen-swiper-img" src="./img/restaurant/kitchen-slider4-for-mobile.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide kitchen-swiper-wrapper">
            <picture class="kitchen-image">
              <source
                srcset="./img/restaurant/kitchen-slider5-for-desktop.jpg 1x, ./img/restaurant/kitchen-slider5-for-desktop@2x.jpg 2x  "
                media="(min-width: 1280px)">
              <source
                srcset="./img/restaurant/kitchen-slider5-for-tablet.jpg 1x, ./img/restaurant/kitchen-slider5-for-tablet@2x.jpg 2x"
                media="(min-width: 1024px)">
              <source
                srcset="./img/restaurant/kitchen-slider5-for-mobile.jpg 1x, ./img/restaurant/kitchen-slider5-for-mobile@2x-.jpg 2x "
                media="(max-width: 384px)">
              <img class="kitchen-swiper-img" src="./img/restaurant/kitchen-slider5-for-mobile.jpg" alt="">
            </picture>
          </div>
        </div>
        <div class=" kitchen-swiper-buttons ">
          <div class="swiper-button-next ">
            <button type="button" class="left-swiper-btn ">
              <svg class="left-swiper-arrow ">
                <use class="" href="./img/icons.svg#left-arrow"></use>
              </svg></button>
          </div>
          <div class="swiper-button-prev "><button type="button" class="rigth-swiper-btn ">
              <svg class="right-swiper-arrow ">
                <use href="./img/icons.svg#right-arrow"></use>
              </svg>
            </button></div>
        </div>
      </div>
    </div>

</div>
</section>