<section id="menu" class="restaurant-menu">
  <div class="container rest-menu-container">
    <h2 class="rest-menu-header" id="rest-menu-header">МЕНЮ РЕСТОРАНУ</h2>
    <div class="rest-menu-thumb">
      <table class="rest-menu-table">
        <colgroup>
          <col class="meal-and-ingredients-column">
          <col class="portion-size-column">
          <col class="meal-price-column">
        </colgroup>

        <thead>
          <tr>
            <th colspan="3">Гарячі страви</th>
          </tr>
          <tr class="visually-hidden">
            <th scope="col">Назва страви</th>
            <th scope="col">Вихід</th>
            <th scope="col">Ціна</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="menu-meal-name">Борщ з телятини з квасолею</td>
            <td rowspan="2" class="menu-meal-weight">400 г</td>
            <td rowspan="2" class="menu-meal-price">240 грн</td>
          </tr>
          <tr>
            <td class="menu-meal-ingredients">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </td>
          </tr>

          <tr>
            <td class="menu-meal-name">Суп сирний з куркою</td>
            <td rowspan="2" class="menu-meal-weight">400 г</td>
            <td rowspan="2" class="menu-meal-price">200 грн</td>
          </tr>
          <tr>
            <td class="menu-meal-ingredients">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </td>
          </tr>

          <tr>
            <td class="menu-meal-name">Паста карбонара</td>
            <td rowspan="2" class="menu-meal-weight">350 г</td>
            <td rowspan="2" class="menu-meal-price">430 грн</td>
          </tr>
          <tr>
            <td class="menu-meal-ingredients">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </td>
          </tr>

          <tr>
            <td class="menu-meal-name">Стейк зі свинини</td>
            <td rowspan="2" class="menu-meal-weight">400 г</td>
            <td rowspan="2" class="menu-meal-price">500 грн</td>
          </tr>
          <tr>
            <td class="menu-meal-ingredients">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </td>
          </tr>

          <tr>
            <td class="menu-meal-name">Горбуша в соусі з білого вина</td>
            <td rowspan="2" class="menu-meal-weight">400 г</td>
            <td rowspan="2" class="menu-meal-price">400 грн</td>
          </tr>
          <tr>
            <td class="menu-meal-ingredients">
              Ніжна горбуша, вершковий соус на основі білого вина
            </td>
          </tr>

          <tr>
            <th colspan="3">Гарніри та закуски</th>
          </tr>
          <tr>
            <td class="menu-meal-name">Запечені овочі</td>
            <td rowspan="2" class="menu-meal-weight">200 г</td>
            <td rowspan="2" class="menu-meal-price">230 грн</td>
          </tr>
          <tr>
            <td class="menu-meal-ingredients">
              Кабачок, перець, помідор, баклажан
            </td>
          </tr>

          <tr>
            <td class="menu-meal-name">Картопля фрі</td>
            <td rowspan="2" class="menu-meal-weight">150 г</td>
            <td rowspan="2" class="menu-meal-price">160 грн</td>
          </tr>
          <tr>
            <td class="menu-meal-ingredients">Картопля, соус томатний</td>
          </tr>

          <tr>
            <td class="menu-meal-name">Картопля по-селянськи</td>
            <td rowspan="2" class="menu-meal-weight">150 г</td>
            <td rowspan="2" class="menu-meal-price">160 грн</td>
          </tr>
          <tr>
            <td class="menu-meal-ingredients">
              Картопля, спеції, соус пікантний
            </td>
          </tr>

          <tr>
            <td class="menu-meal-name">Хрумкі соління з бочки</td>
            <td rowspan="2" class="menu-meal-weight">250 г</td>
            <td rowspan="2" class="menu-meal-price">350 грн</td>
          </tr>
          <tr>
            <td class="menu-meal-ingredients">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </td>
          </tr>

          <tr>
            <td class="menu-meal-name">Крильця курячі в медовому соусі</td>
            <td rowspan="2" class="menu-meal-weight">400 г</td>
            <td rowspan="2" class="menu-meal-price">420 грн</td>
          </tr>
          <tr>
            <td class="menu-meal-ingredients">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </td>
          </tr>
        </tbody>
      </table>

      <!-- МЕНЮ РЕСТОРАНУ -->

      <table class="rest-menu-table">
        <colgroup>
          <col class="meal-and-ingredients-column">
          <col class="portion-size-column">
          <col class="meal-price-column">
        </colgroup>

        <thead>
          <tr class="visually-hidden">
            <th scope="col">Назва страви</th>
            <th scope="col">Вихід</th>
            <th scope="col">Ціна</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="3">Салати</th>
          </tr>
          <tr>
            <td class="menu-meal-name">Цезар з куркою</td>
            <td rowspan="2" class="menu-meal-weight">230 г</td>
            <td rowspan="2" class="menu-meal-price">450 грн</td>
          </tr>
          <tr>
            <td class="menu-meal-ingredients">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </td>
          </tr>

          <tr>
            <td class="menu-meal-name">Цезар з креветками</td>
            <td rowspan="2" class="menu-meal-weight">230 г</td>
            <td rowspan="2" class="menu-meal-price">450 грн</td>
          </tr>
          <tr>
            <td class="menu-meal-ingredients">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </td>
          </tr>

          <tr>
            <td class="menu-meal-name">Грецький салат</td>
            <td rowspan="2" class="menu-meal-weight">230 г</td>
            <td rowspan="2" class="menu-meal-price">280 грн</td>
          </tr>
          <tr>
            <td class="menu-meal-ingredients">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </td>
          </tr>

          <tr>
            <td class="menu-meal-name">М’ясний салат</td>
            <td rowspan="2" class="menu-meal-weight">230 г</td>
            <td rowspan="2" class="menu-meal-price">300 грн</td>
          </tr>
          <tr>
            <td class="menu-meal-ingredients">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </td>
          </tr>

          <tr>
            <th colspan="3">Десерти</th>
          </tr>

          <tr>
            <td class="menu-meal-name">Торт наполеон</td>
            <td class="menu-meal-weight">230 г</td>
            <td class="menu-meal-price">300 грн</td>
          </tr>

          <tr>
            <td class="menu-meal-name">Торт маковий</td>
            <td class="menu-meal-weight">230 г</td>
            <td class="menu-meal-price">300 грн</td>
          </tr>

          <tr>
            <td class="menu-meal-name">Тірамісу</td>
            <td class="menu-meal-weight">120 г</td>
            <td class="menu-meal-price">260 грн</td>
          </tr>

          <tr class="visually-hidden">
            <th scope="col">Назва страви</th>
            <th scope="col">Вихід</th>
            <th scope="col">Ціна</th>
          </tr>
          <tr>
            <th colspan="3">Напої</th>
          </tr>
          <tr>
            <td class="menu-meal-name">Чай чорний/зелений</td>
            <td class="menu-meal-weight drink">500 мл</td>
            <td class="menu-meal-price">100 грн</td>
          </tr>

          <tr>
            <td class="menu-meal-name">Еспресо</td>
            <td class="menu-meal-weight drink">30 мл</td>
            <td class="menu-meal-price">100 грн</td>
          </tr>

          <tr>
            <td class="menu-meal-name">Американо</td>
            <td class="menu-meal-weight drink">150 мл</td>
            <td class="menu-meal-price">100 грн</td>
          </tr>

          <tr>
            <td class="menu-meal-name">Капучино</td>
            <td class="menu-meal-weight drink">200 мл</td>
            <td class="menu-meal-price">160 грн</td>
          </tr>

          <tr>
            <td class="menu-meal-name">Лате</td>
            <td class="menu-meal-weight drink">200 мл</td>
            <td class="menu-meal-price">160 грн</td>
          </tr>
        </tbody>
      </table>
    </div>

    <button type="button" class="btn button-black rest-menu-btn js-open-modal" data-modal="2"
      aria-label="Забронювати столик">
      Забронювати столик
    </button>
  </div>
</section>