.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden.modal-reserv-room {
  transform: translate(-50%, -50%) scale(0.7);

  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-reserv-tab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fffdee;
  border-radius: 2px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.close-btn {
  margin-left: auto;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
}
.modal-close-btn {
  width: 100%;
  height: 100%;
  stroke: black;
}
.modal-title {
  margin-top: 20px;
  text-align: center;
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #000000;
}

.room-class {
  border: none;
  background-color: transparent;
  padding-left: 12px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.form-input:last-child {
  gap: 0;
}
.input-wrap {
  position: relative;
}
.down-bold {
  fill: #c79002;
  position: absolute;
  right: 15px;
  height: 24px;
  width: 24px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal-input {
  padding-left: 12px;
  padding-right: 15px;
  border: 1px solid #c79002;
  border-radius: 2px;
  width: 382px;
  height: 54px;
  background-color: transparent;
}
.modal-input::placeholder {
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #808080;
}
.input-after-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #c79002;
  padding-left: 12px;
}
.input-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-confirm-btn {
  border: 1px solid #f3c653;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  background-color: #000000;
  width: 100%;
  height: 64px;
  margin-top: 40px;
}
.modal-confirm-btn:hover,
.modal-confirm-btn:focus {
  background-color: #f3c653;
  color: #000000;
}
.room-class {
  border: none;
  background-color: transparent;
}
.text-input {
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #808080;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.tab-version {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.tab-wrap {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* ---------------mob version-------------- */
/* ---------------mob version-------------- */
@media screen and (min-width: 414px) {
  .modal-reserv-tab {
    width: 414px;
  }
}

/* ---------------Tab version-------------- */
/* ---------------Tab version-------------- */
@media screen and (min-width: 768px) {
  .modal-reserv-tab {
    width: 712px;
  }

  .modal-reserv-tab > .form-input {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .form-input:first-child {
    padding-right: 16px;
  }

  .modal-input {
    width: 288px;
    height: 64px;
  }
  .tab-version {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 28px;
  }
  .input-box > .input-wrap {
    width: 288px;
  }
  .tab-wrap {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
/* ---------------desktop version-------------- */
/* ---------------desktop version-------------- */
@media screen and (min-width: 1200px) {
  .modal-reserv-tab {
    width: 712px;
  }
}
