.hero-restaurant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../public/img/restaurant/rest-hero-for-mobile.jpg);
  padding-top: 181px;
  padding-bottom: 102px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../public/img/restaurant/rest-hero-for-mobile@2x.jpg);
  }
}

@media screen and (max-width: 413px) {
  .hero-restaurant {
    height: 740px;
  }
}

@media screen and (min-width: 414px) {
  .hero-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../public/img/restaurant/rest-hero-for-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-restaurant {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../public/img/restaurant/rest-hero-for-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 1024px) {
  .hero-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../public/img/restaurant/rest-hero-for-desktop.jpg);
    padding-top: 188px;
    padding-bottom: 64px;
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-restaurant {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../public/img/restaurant/rest-hero-for-desktop@2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero-restaurant {
    padding-top: 164px;
    padding-bottom: 65px;
  }
}