.restaurant-menu {
  padding-top: 32px;
  padding-bottom: 32px;
}

.rest-menu-container {}

.rest-menu-table {
  border-collapse: collapse;
  margin-bottom: 32px;
}

.rest-menu-table caption {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 7.73vw;
  line-height: 1.16;
  padding-bottom: 24px;
  text-align: left;
}

.meal-and-ingredients {
  width: 56%;
}

.rest-menu-table th {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
}

.menu-meal-name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 0;
  padding-right: 0;
}

.menu-meal-ingredients {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.portion-size {
  width: 22%;
}

.menu-meal-weight {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 3.38vw;
  line-height: 1.21;
  letter-spacing: 0.02em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 7.23vw;
  padding-right: 0;
}

.drink {
  padding-left: 4.3vw;
}

.meal-price {
  width: 22%;
}

.menu-meal-price {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.38vw;
  line-height: 1.21;
  letter-spacing: 0.02em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 7.23vw;
  padding-right: 0;
}

.rest-menu-btn {
  margin: 0 auto;
}