<section class="room-hero">
    <div class="container">
        <h2 class="room-hero-title">ДВОМІСНИЙ НОМЕР люкс</h2>
        <p class="room-hero-after-title">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <ul class="room-hero-media-list">
            <li class="room-hero-media-item">
                <a class="room-hero-media-link" href="">
                    <svg class="room-hero-media-icon">
                        <use href=""></use>
                    </svg>
                </a>
            </li>
            <li class="room-hero-media-item">
                <a class="room-hero-media-link" href="">
                    <svg class="room-hero-media-icon">
                        <use href=""></use>
                    </svg>
                </a>
            </li>
            <li class="room-hero-media-item">
                <a class="room-hero-media-link" href="">
                    <svg class="room-hero-media-icon">
                        <use href=""></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button class="" type="button">Переглянути ціни</button>
    </div>
</section>