<section class="room-hero">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h2 class="room-hero-title">ДВОМІСНИЙ НОМЕР люкс</h2>
          <p class="room-hero-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <button class="btn button-grey">Переглянути ціни</button>
        </div>
        <div class="swiper-slide">
          <h2 class="room-hero-title">ТРЬОХМІСНИЙ НОМЕР</h2>
          <p class="room-hero-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <button class="btn button-grey">Переглянути ціни</button>
        </div>
        <div class="swiper-slide">
          <h2 class="room-hero-title room-hero-title-fix">ДВОМІСНИЙ НОМЕР</h2>
          <p class="room-hero-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          <button class="btn button-grey">Переглянути ціни</button>
        </div>
      </div>
      <div class="swiper-button-next">
        <svg class="room-hero-icon" width="40" height="40">
          <use href="./img/icons.svg#location"></use>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg class="room-hero-icon" width="40" height="40">
          <use href="./img/icons.svg#location"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
