<section class="room">
  <div class="container">
    <h3 class="room-amenities">ЗРУЧНОСТІ У НОМЕРІ</h3>
    <p class="room-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <ul class="room-list">
      <li class="room-item">
        <h4 class="room-amenities-title">ЗАГАЛЬНІ</h4>
        <p class="room-text room-list-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p class="room-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>    
      </li>
      <li class="room-item">
        <h4 class="room-amenities-title">ВАННА КІМНАТА</h4>
        <p class="room-text room-list-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p class="room-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </li>
      <li class="room-item">
        <h4 class="room-amenities-title">СПАЛЬНЯ</h4>
        <p class="room-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
      </li>
      <li class="room-item">
        <h4 class="room-amenities-title">КУХНЯ</h4>
        <p class="room-text room-list-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <p class="room-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
      </li>
      <li class="room-item">
        <h4 class="room-amenities-title">МЕДІА</h4>
        <p class="room-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
      </li>
    </ul>
    <button class="btn-mob">ОФОРМИТИ БРОНЮВАННЯ</button>
    <a class="room-link" href="./hotel.html">Повернутися до перегляду номерів</a></div>
</section>