<section class="room">
  <div class="container">
    <h3 class="room-amenities" data-aos="zoom-in-up">зручності у номері</h3>
    <p class="room-text" data-aos="zoom-in-up">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
      consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <ul class="room-list">
      <li class="room-item">
        <h4 class="room-amenities-title" data-aos="zoom-in-up">ЗАГАЛЬНІ</h4>
        <ul class="room-item-list">
          <li class="room-item-list-item" data-aos="zoom-in-up">
            <p class="room-list-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
              officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          </li>
          <li class="room-item-list-item" data-aos="zoom-in-down">
            <p class="room-list-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
              officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          </li>
        </ul>
      </li>
      <li class="room-item">
        <h4 class="room-amenities-title" data-aos="zoom-in-up">ВАННА КІМНАТА</h4>
        <ul class="room-item-list">
          <li class="room-item-list-item" data-aos="zoom-in-up">
            <p class="room-list-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
              officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          </li>
          <li class="room-item-list-item" data-aos="zoom-in-down">
            <p class="room-list-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
              officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          </li>
        </ul>
      </li>
      <li class="room-item">
        <h4 class="room-amenities-title" data-aos="zoom-in-up">СПАЛЬНЯ</h4>
        <p class="room-list-text" data-aos="zoom-in-up">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
      </li>
      <li class="room-item">
        <h4 class="room-amenities-title" data-aos="zoom-in-up">КУХНЯ</h4>
        <ul class="room-item-list">
          <li class="room-item-list-item" data-aos="zoom-in-up">
            <p class="room-list-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
          </li>
          <li class="room-item-list-item" data-aos="zoom-in-down">
            <p class="room-list-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
          </li>
        </ul>
      </li>
      <li class="room-item">
        <h4 class="room-amenities-title" data-aos="zoom-in-up">МЕДІА</h4>
        <p class="room-list-text" data-aos="zoom-in-up">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia consequat duis enim velit mollit. </p>
      </li>
    </ul>
    <div class="room-thumb"  data-aos="zoom-in-down">
      <button class="btn-mob button-mobile-circle js-open-modal" type="button" data-modal="1">ОФОРМИТИ БРОНЮВАННЯ</button>
      <a class="room-link" href="./hotel.html"><span>Повернутися до перегляду номерів</span>
        <svg class="room-link-icon" width="24" height="24">
          <use href="./img/icons.svg#right-arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</section>