.mp-catecory-name {
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--input-text-color);
  text-align: left;
  margin-top: 40px;
}

.mp-category-text {
  font-family: 'Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--brown-color);
  text-align: left;
  margin-top: 28px;
}

.mt-form-input-price {
  margin-top: 20px;
}

.mp-tab-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 30px;
}

.mp-modal-input {
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .mp-input-box {
    width: 288px;
  }
}
