<div class="modal" data-modal="1">
  <div class="modal-reserv-tab">
    <button class="mt-close-btn" type="button" data-modal-close>
      <svg class="mt-modal-close-btn js-modal-close" width="24" height="24">
        <use href="./img/icons.svg#modal-close"></use>
      </svg>
    </button>
    <h2 class="mt-modal-title">ЗАБРОНЮВАТИ НОМЕР</h2>
    <form class="mt-form-input">
      <div class="mt-tab-wrap">
        <div class="mt-tab-version-room">
          <div class="mt-input-box">
            <input class="mt-modal-input" type="text" name="user" id="userName_m1" required placeholder="Ваше ім’я">
            <label class="mt-input-after-text" for="userName_m1">На кого забронювати номер?</label>
          </div>

          <div class="mt-input-box">
            <input class="mt-modal-input" type="tel" name="tel" id="tel_m1" placeholder="+38 (___) ___-__-__" required>
            <label class="mt-input-after-text" for="tel_m1">Номер телефону</label>
          </div>
        </div>

        <div class="mt-tab-version">
          <div class="mt-input-box">
            <div class="mt-input-wrap">
              <select class="mt-modal-input mt-modal-input-select" name="category-room" id="category-room">
                <option value="Двомісний люкс">Двомісний люкс</option>
                <option value="Двомісний стандарт">Трьохмісний</option>
                <option value="Одномісний стандарт">Двомісний</option>
              </select>
              <svg class="mt-down-bold" width="24" height="24">
                <use href="./img/icons.svg#down-bold"></use>
              </svg>
            </div>
            <label class="mt-input-after-text" for="category-room">
              Категорія номера</label>
          </div>
          <div class="mt-input-box">
            <div class="mt-input-wrap">
              <select class="mt-modal-input mt-modal-input-select" name="arrival-data" id="arrival-data">
                <option value="Сьогодні">Сьогодні</option>
                <option value="Завтра">Завтра</option>
                <option value="Після завтра">Після завтра</option>
              </select>
              <svg class="mt-down-bold" width="24" height="24">
                <use href="./img/icons.svg#down-bold"></use>
              </svg>
            </div>
            <label class="mt-input-after-text" for="arrival-data">
              Дата заїзду</label>
          </div>

          <div class="mt-input-box">
            <div class="mt-input-wrap">
              <select class="mt-modal-input mt-modal-input-select" name="leave-data" id="leave-data">
                <option value="Сьогодні">Сьогодні</option>
                <option value="Завтра">Завтра</option>
                <option value="Після завтра">Після завтра</option>
              </select>
              <svg class="mt-down-bold" width="24" height="24">
                <use href="./img/icons.svg#down-bold"></use>
              </svg>
            </div>
            <label class="mt-input-after-text" for="leave-data">
              Дата виїзду</label>
          </div>
        </div>
      </div>

      <button type="submit" class="mt-form-send btn-mob">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
    </form>
  </div>
</div>