<div class="modal" data-modal="2">
  <div class="modal-reserv-tab">
    <button class="mt-close-btn" type="button" data-modal-close>
      <svg class="mt-modal-close-btn js-modal-close" width="24" height="24">
        <use href="./img/icons.svg#modal-close"></use>
      </svg>
    </button>
    <h2 class="mt-modal-title">ЗАБРОНЮВАТИ СТОЛИК</h2>
    <form class="mt-form-input">
      <div class="mt-tab-wrap">
        <div class="mt-tab-version">
          <div class="mt-input-box">
            <input
              class="mt-modal-input"
              type="text"
              name="user"
              required
              placeholder="Ваше ім’я"
            />
            <label class="mt-input-after-text"
              >На кого забронювати столик?</label
            >
          </div>
          <div class="mt-input-box">
            <input
              class="mt-modal-input"
              type="tel"
              name="tel"
              placeholder="+38 (___) ___-__-__"
              required
            />
            <label class="mt-input-after-text">Номер телефону</label>
          </div>
        </div>
        <div class="mt-tab-version">
          <div class="mt-input-box">
            <div class="mt-input-wrap">
              <select
                class="mt-modal-input mt-modal-input-select"
                name="how-many-people"
                id="how-many-people"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="на Циганській табор">на Ціганській табор</option>
              </select>
              <svg class="mt-down-bold" width="24" height="24">
                <use href="./img/icons.svg#down-bold"></use>
              </svg>
            </div>
            <label class="mt-input-after-text" for="how-many-people">
              Столик на яку кількість осіб?</label
            >
          </div>
          <div class="mt-input-box">
            <div class="mt-input-wrap">
              <select
                class="mt-modal-input mt-modal-input-select"
                name="that-date"
                id="that-date"
              >
                <option value="Сьогодні">Сьогодні</option>
                <option value="День Перемоги над рашизмом">
                  День Перемоги над рашизмом
                </option>
                <option value="День Незалежності України">
                  День Незалежності України
                </option>
              </select>
              <svg class="mt-down-bold" width="24" height="24">
                <use href="./img/icons.svg#down-bold"></use>
              </svg>
            </div>
            <label class="mt-input-after-text" for="that-date">
              На яку дату бронювати?</label
            >
          </div>
        </div>
      </div>

      <button type="submit" class="mt-form-send btn-mob">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
    </form>
  </div>
</div>
