<div class="modal" data-modal="2">
  <div class="modal-reserv-tab">
    <button class="mt-close-btn" type="button" data-modal-close>
      <svg class="mt-modal-close-btn js-modal-close" width="24" height="24">
        <use href="./img/icons.svg#modal-close"></use>
      </svg>
    </button>
    <h2 class="mt-modal-title">ЗАБРОНЮВАТИ СТОЛИК</h2>
    <form class="mt-form-input">
      <div class="mt-tab-wrap">
        <div class="mt-tab-version">
          <div class="mt-input-box">
            <input class="mt-modal-input" type="text" id="userName_m2" name="user" required placeholder="Ваше ім’я">
            <label class="mt-input-after-text" for="userName_m2">На кого забронювати столик?</label>
          </div>
          <div class="mt-input-box">
            <input class="mt-modal-input" type="tel" name="tel" id="tel_m2" placeholder="+38 (___) ___-__-__" required>
            <label class="mt-input-after-text" for="tel_m2">Номер телефону</label>
          </div>
        </div>
        <div class="mt-tab-version">
          <div class="mt-input-box">
            <div class="mt-input-wrap">
              <select class="mt-modal-input mt-modal-input-select" name="how-many-people" id="how-many-people">
                <option value="1">1</option>
                <option value="2-5">2-5</option>
                <option value="6-10">6-10</option>
                <option value="11-20">11-20</option>
                <option value="21-50">21-50</option>
                <option value="51-200">51-200</option>
              </select>
              <svg class="mt-down-bold" width="24" height="24">
                <use href="./img/icons.svg#down-bold"></use>
              </svg>
            </div>
            <label class="mt-input-after-text" for="how-many-people">
              Столик на яку кількість осіб?</label>
          </div>
          <div class="mt-input-box">
            <div class="mt-input-wrap">
              <select class="mt-modal-input mt-modal-input-select" name="that-date" id="that-date">
                <option value="Сьогодні">Сьогодні</option>
                <option value="Завтра">Завтра</option>
                <option value="Після завтра">Після завтра</option>
              </select>
              <svg class="mt-down-bold" width="24" height="24">
                <use href="./img/icons.svg#down-bold"></use>
              </svg>
            </div>
            <label class="mt-input-after-text" for="that-date">
              На яку дату бронювати?</label>
          </div>
        </div>
      </div>

      <button type="submit" class="mt-form-send btn-mob">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
    </form>
  </div>
</div>