<!-- Двомісний люкс -->

<div class="modal" data-modal="3">
  <div class="modal-reserv-tab">
    <button class="mt-close-btn" type="button" data-modal-close>
      <svg class="mt-modal-close-btn js-modal-close" width="24" height="24">
        <use href="./img/icons.svg#modal-close"></use>
      </svg>
    </button>
    <h2 class="mt-modal-title">ЦІНИ НА НОМЕР</h2>

    <h3 class="mp-catecory-name">Двомісний люкс</h3>

    <p class="mp-category-text">Категорія номеру</p>
    <form class="mt-form-input-price">
      <div class="mp-tab-wrap">
        <div class="mt-input-box mp-input-box">
          <select class="mt-modal-input mt-modal-input-select" name="nights_2_plus" id="nights_2_plus">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <label class="mt-input-after-text" for="nights_2_plus">Кількість ночей</label>
        </div>

        <div class="mt-input-box mp-input-box">
          <p class="mt-modal-input mp-modal-input">1000</p>
          <p class="mt-input-after-text">грн</p>
        </div>
      </div>

      <button type="submit" class="mt-form-send btn-mob js-open-modal js-modal-close" data-modal="1">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
    </form>
  </div>
</div>

<!-- Трьохмісний -->

<div class="modal" data-modal="4">
  <div class="modal-reserv-tab">
    <button class="mt-close-btn" type="button" data-modal-close>
      <svg class="mt-modal-close-btn js-modal-close" width="24" height="24">
        <use href="./img/icons.svg#modal-close"></use>
      </svg>
    </button>
    <h2 class="mt-modal-title">ЦІНИ НА НОМЕР</h2>

    <h3 class="mp-catecory-name">Трьохмісний</h3>

    <p class="mp-category-text">Категорія номеру</p>
    <form class="mt-form-input-price">
      <div class="mp-tab-wrap">
        <div class="mt-input-box mp-input-box">
          <select class="mt-modal-input mt-modal-input-select" name="nights_3" id="nights_3">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <label class="mt-input-after-text" for="nights_3">Кількість ночей</label>
        </div>

        <div class="mt-input-box mp-input-box">
          <p class="mt-modal-input mp-modal-input">1500</p>
          <p class="mt-input-after-text">грн</p>
        </div>
      </div>

      <button type="submit" class="mt-form-send btn-mob js-open-modal js-modal-close" data-modal="1">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
    </form>
  </div>
</div>

<!-- Двомісний -->

<div class="modal" data-modal="5">
  <div class="modal-reserv-tab">
    <button class="mt-close-btn" type="button" data-modal-close>
      <svg class="mt-modal-close-btn js-modal-close" width="24" height="24">
        <use href="./img/icons.svg#modal-close"></use>
      </svg>
    </button>
    <h2 class="mt-modal-title">ЦІНИ НА НОМЕР</h2>

    <h3 class="mp-catecory-name">Двомісний</h3>

    <p class="mp-category-text">Категорія номеру</p>
    <form class="mt-form-input-price">
      <div class="mp-tab-wrap">
        <div class="mt-input-box mp-input-box">
          <select class="mt-modal-input mt-modal-input-select" name="nights_2" id="nights_2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <label class="mt-input-after-text" for="nights_2">Кількість ночей</label>
        </div>

        <div class="mt-input-box mp-input-box">
          <p class="mt-modal-input mp-modal-input">750</p>
          <p class="mt-input-after-text">грн</p>
        </div>
      </div>

      <button type="submit" class="mt-form-send btn-mob js-open-modal js-modal-close" data-modal="1">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
    </form>
  </div>
</div>