<section class="main-hotel-s1">
  <div class="container">
<div class="topic-hotel topic-hotel-s1 section-hotel">
    <ul>
      <li class="topic-hotel-1">
      <p>Amet minim mollit non</p>
      </li>
      <li class="topic-hotel-2">
      <h2>MIMIHO</h2>
      </li>
      <li class="topic-hotel-3">
      <h3>ДВОМІСНИЙ НОМЕР люкс</h3>
      </li>
      <li class="topic-hotel-4">
      <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </li>
      </ul>
</div>
<div class="foto-hotel foto-hotel-s1 section-hotel">
      <img
      src="../../img/hotel/hotel-double1-room-img1-for-mobile.jpg"
      alt="hotel-double1-room-img1-for-desktop.jpg"
      width="244"
      height="322"
      >
  </div>
<div class="slider-hotel-s1 section-hotel">
        <img class="active" 
        src="../../img/hotel/hotel-double1-slider1-for-mobile.jpg"
        alt="hotel-double1-slider1-for-mobile.jpg"
        width="194"
        height="194"
        >
        <img class="active" src="../../img/hotel/hotel-double1-slider2-for-mobile.jpg"
          alt="hotel-double1-slider1-for-mobile.jpg" width="194" height="194">
        <img class="active" src="../../img/hotel/hotel-double1-slider3-for-mobile.jpg"
          alt="hotel-double1-slider1-for-mobile.jpg" width="194" height="194">
        <img class="active" src="../../img/hotel/hotel-double1-slider4-for-mobile.jpg"
          alt="hotel-double1-slider1-for-mobile.jpg" width="194" height="194">
        <nav class="slider-nav">
    <ul>
    <li class="arrow">
      <button class="previous">
        <span>
          <i class="ion-arrow-left-c">
            <svg class="" width="30" height="17">
              <use href="../../img/icons.svg#left-arrow">
                </use>
            </svg>
          </i>
        </span>
      </button>
    </li>
    <li class="arrow">
      <button class="next">
        <span>
          <i class="ion-arrow-right-c">
            <svg class="" width="30" height="17">
              <use href="../../img/icons.svg#right-arrow">
              </use>
            </svg>
          </i>
        </span>
      </button>
    </li>
    </ul>
    </nav>
</div>
<div class="section-hotel">
    <ul class="button-hotel-s1">
    <li><button type="button" class="btn-mob button-mobile-circle btn-hotel-1">Детальніше</button>
    </li>
    <li><button type="button" class="btn-mob button-mobile-circle btn-hotel-2">Переглянути ціни</button>
    </li>
    </ul>
</div>
  </div>
</section>