<section>
  <div class="container">
<ul>
    <li>
      <p>Amet minim mollit non</p>
    </li>
    <li>
    <h2>MIMIHO</h2>
    </li>
    <li>
    <h3>ДВОМІСНИЙ НОМЕР люкс</h3>
    </li>
    <li>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </li>
    <li class="foto">
      <img
      src="../../img/hotel/hotel-double1-room-img1-for-desktop.jpg"
      alt="hotel-double1-room-img1-for-desktop.jpg"
      width="244"
      height="322"
      >
    

    </li>

</ul>


  </div>
</section>