<section class="main-hotel-s1 main-hotel">

    <div class="container correct">
        <div class="topic-hotel topic-hotel-s1 topic-hotel-s3 section-hotel">
            <ul>
                <li class="topic-hotel-item-oneblock">
                    <p class="topic-hotel-1" data-aos="zoom-in-up">Amet minim mollit non</p>
                    <h2 class="topic-hotel-2" data-aos="zoom-in-up">MIMIHO</h2>
                </li>
                <li class="topic-hotel-item-tooblock">
                    <h3 class="topic-hotel-3" data-aos="zoom-in-up" data-aos-delay="200">ДВОМІСНИЙ НОМЕР</h3>
                    <p class="topic-hotel-4" data-aos="zoom-in-up" data-aos-delay="500">Amet minim mollit non deserunt
                        ullamco est sit aliqua dolor do amet sint.
                        Velit
                        officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </li>
            </ul>
            <div class="foto-hotel foto-hotel-s1-tablet" data-aos="flip-left" data-aos-delay="800"> </div>
        </div>
        <div class="foto-hotel foto-hotel-s1 section-hotel" data-aos="flip-left" data-aos-delay="800">
            <picture>
                <source srcset="./img/hotel/hotel-double2-room-for-desktop.jpg 1x, 
                                ./img/hotel/hotel-double2-room-for-desktop@2x.jpg 2x" media="(min-width: 1280px)">
                <source srcset="./img/hotel/hotel-double2-room-for-tablet.jpg 1x, 
                                ./img/hotel/hotel-double2-room-for-tablet@2x.jpg 2x" media="(min-width: 1024px)">

                <source srcset="./img/hotel/hotel-double2-room-for-mobile.jpg 1x, 
                                ./img/hotel/hotel-double2-room-for-mobile@2x.jpg 2x" media="(min-width: 384px)">

                <img src="./img/hotel/hotel-double2-room-for-mobile.jpg" srcset="
              ./img/hotel/hotel-double2-room-for-mobile.jpg    1x,
              ./img/hotel/hotel-double2-room-for-mobile@2x.jpg 2x
              " alt="hotel-double2-room-img1-for-desktop.jpg" width="244" height="322">
            </picture>
        </div>
        <div class="hotel-swiper-container">
            <div class=" hotel-slide-container swiper mySwiper">
                <div class="hotel-swiper swiper-wrapper ">

                    <div class="hotel-page-slide swiper-slide ">
                        <picture>
                            <source srcset=" ./img/hotel/hotel-double2-slider1-for-desktop.jpg      1x,                   
                                             ./img/hotel/hotel-double2-slider1-for-desktop@2x.jpg   2x"
                                media="(min-width: 1280px)">
                            <source srcset=" ./img/hotel/hotel-double2-slider1-for-tablet.jpg       1x, 
                                             ./img/hotel/hotel-double2-slider1-for-tablet@2x.jpg    2x"
                                media="(min-width: 1024px)">
                            <source srcset=" ./img/hotel/hotel-double2-slider1-for-mobile.jpg       1x,                  
                                             ./img/hotel/hotel-double2-slider1-for-mobile@2x.jpg    2x"
                                media="(max-width: 1023px)">
                            <img srcset="    ./img/hotel/hotel-double2-slider1-for-mobile.jpg       1x,
                                             ./img/hotel/hotel-double2-slider1-for-mobile@2x.jpg    2x"
                                src="        ./img/hotel/hotel-double2-slider1-for-mobile.jpg" width="194" height="194"
                                alt="Pic1">
                        </picture>
                    </div>
                    <div class="hotel-page-slide swiper-slide ">
                        <picture>
                            <source srcset=" ./img/hotel/hotel-double2-slider2-for-desktop.jpg      1x,                   
                                             ./img/hotel/hotel-double2-slider2-for-desktop@2x.jpg   2x"
                                media="(min-width: 1280px)">
                            <source srcset=" ./img/hotel/hotel-double2-slider2-for-tablet.jpg       1x, 
                                             ./img/hotel/hotel-double2-slider2-for-tablet@2x.jpg    2x"
                                media="(min-width: 1024px)">
                            <source srcset=" ./img/hotel/hotel-double2-slider2-for-mobile.jpg       1x,                  
                                             ./img/hotel/hotel-double2-slider2-for-mobile@2x.jpg    2x"
                                media="(max-width: 1023px)">
                            <img srcset="    ./img/hotel/hotel-double2-slider2-for-mobile.jpg       1x,
                                             ./img/hotel/hotel-double2-slider2-for-mobile@2x.jpg    2x"
                                src="        ./img/hotel/hotel-double2-slider2-for-mobile.jpg" width="194" height="194"
                                alt="Pic2">
                        </picture>
                    </div>
                    <div class="hotel-page-slide swiper-slide ">
                        <picture>
                            <source srcset=" ./img/hotel/hotel-double2-slider3-for-desktop.jpg      1x,                   
                                             ./img/hotel/hotel-double2-slider3-for-desktop@2x.jpg   2x"
                                media="(min-width: 1280px)">
                            <source srcset=" ./img/hotel/hotel-double2-slider3-for-tablet.jpg       1x, 
                                             ./img/hotel/hotel-double2-slider3-for-tablet@2x.jpg    2x"
                                media="(min-width: 1024px)">
                            <source srcset=" ./img/hotel/hotel-double2-slider3-for-mobile.jpg       1x,                  
                                             ./img/hotel/hotel-double2-slider3-for-mobile@2x.jpg    2x"
                                media="(max-width: 1023px)">
                            <img srcset="    ./img/hotel/hotel-double2-slider3-for-mobile.jpg       1x,
                                             ./img/hotel/hotel-double2-slider3-for-mobile@2x.jpg    2x"
                                src="        ./img/hotel/hotel-double2-slider3-for-mobile.jpg" width="194" height="194"
                                alt="Pic3">
                        </picture>
                    </div>
                    <div class=" hotel-page-slide swiper-slide ">
                        <picture>
                            <source srcset=" ./img/hotel/hotel-double2-slider4-for-desktop.jpg      1x,                   
                                             ./img/hotel/hotel-double2-slider4-for-desktop@2x.jpg   2x"
                                media="(min-width: 1280px)">
                            <source srcset=" ./img/hotel/hotel-double2-slider4-for-tablet.jpg       1x, 
                                             ./img/hotel/hotel-double2-slider4-for-tablet@2x.jpg    2x"
                                media="(min-width: 1024px)">
                            <source srcset=" ./img/hotel/hotel-double2-slider4-for-mobile.jpg       1x,                  
                                             ./img/hotel/hotel-double2-slider4-for-mobile@2x.jpg    2x"
                                media="(max-width: 1023px)">
                            <img srcset="    ./img/hotel/hotel-double2-slider4-for-mobile.jpg       1x,
                                             ./img/hotel/hotel-double2-slider4-for-mobile@2x.jpg    2x"
                                src="        ./img/hotel/hotel-double2-slider4-for-mobile.jpg" width="194" height="194"
                                alt="Pic4">
                        </picture>
                    </div>

                    <div class="hotel-page-slide swiper-slide ">
                        <picture>
                            <source
                                srcset=" ./img/hotel/hotel-double2-slider1-for-desktop.jpg      1x,                   
                                                                 ./img/hotel/hotel-double2-slider1-for-desktop@2x.jpg   2x"
                                media="(min-width: 1280px)">
                            <source
                                srcset=" ./img/hotel/hotel-double2-slider1-for-tablet.jpg       1x, 
                                                                 ./img/hotel/hotel-double2-slider1-for-tablet@2x.jpg    2x"
                                media="(min-width: 1024px)">
                            <source
                                srcset=" ./img/hotel/hotel-double2-slider1-for-mobile.jpg       1x,                  
                                                                 ./img/hotel/hotel-double2-slider1-for-mobile@2x.jpg    2x"
                                media="(max-width: 1023px)">
                            <img srcset="    ./img/hotel/hotel-double2-slider1-for-mobile.jpg       1x,
                                                                 ./img/hotel/hotel-double2-slider1-for-mobile@2x.jpg    2x"
                                src="        ./img/hotel/hotel-double2-slider1-for-mobile.jpg" width="194" height="194"
                                alt="Pic1">
                        </picture>
                    </div>
                    <div class="hotel-page-slide swiper-slide ">
                        <picture>
                            <source
                                srcset=" ./img/hotel/hotel-double2-slider2-for-desktop.jpg      1x,                   
                                                                 ./img/hotel/hotel-double2-slider2-for-desktop@2x.jpg   2x"
                                media="(min-width: 1280px)">
                            <source
                                srcset=" ./img/hotel/hotel-double2-slider2-for-tablet.jpg       1x, 
                                                                 ./img/hotel/hotel-double2-slider2-for-tablet@2x.jpg    2x"
                                media="(min-width: 1024px)">
                            <source
                                srcset=" ./img/hotel/hotel-double2-slider2-for-mobile.jpg       1x,                  
                                                                 ./img/hotel/hotel-double2-slider2-for-mobile@2x.jpg    2x"
                                media="(max-width: 1023px)">
                            <img srcset="    ./img/hotel/hotel-double2-slider2-for-mobile.jpg       1x,
                                                                 ./img/hotel/hotel-double2-slider2-for-mobile@2x.jpg    2x"
                                src="        ./img/hotel/hotel-double2-slider2-for-mobile.jpg" width="194" height="194"
                                alt="Pic2">
                        </picture>
                    </div>
                    <div class="hotel-page-slide swiper-slide ">
                        <picture>
                            <source
                                srcset=" ./img/hotel/hotel-double2-slider3-for-desktop.jpg      1x,                   
                                                                 ./img/hotel/hotel-double2-slider3-for-desktop@2x.jpg   2x"
                                media="(min-width: 1280px)">
                            <source
                                srcset=" ./img/hotel/hotel-double2-slider3-for-tablet.jpg       1x, 
                                                                 ./img/hotel/hotel-double2-slider3-for-tablet@2x.jpg    2x"
                                media="(min-width: 1024px)">
                            <source
                                srcset=" ./img/hotel/hotel-double2-slider3-for-mobile.jpg       1x,                  
                                                                 ./img/hotel/hotel-double2-slider3-for-mobile@2x.jpg    2x"
                                media="(max-width: 1023px)">
                            <img srcset="    ./img/hotel/hotel-double2-slider3-for-mobile.jpg       1x,
                                                                 ./img/hotel/hotel-double2-slider3-for-mobile@2x.jpg    2x"
                                src="        ./img/hotel/hotel-double2-slider3-for-mobile.jpg" width="194" height="194"
                                alt="Pic3">
                        </picture>
                    </div>
                    <div class=" hotel-page-slide swiper-slide ">
                        <picture>
                            <source
                                srcset=" ./img/hotel/hotel-double2-slider4-for-desktop.jpg      1x,                   
                                                                 ./img/hotel/hotel-double2-slider4-for-desktop@2x.jpg   2x"
                                media="(min-width: 1280px)">
                            <source
                                srcset=" ./img/hotel/hotel-double2-slider4-for-tablet.jpg       1x, 
                                                                 ./img/hotel/hotel-double2-slider4-for-tablet@2x.jpg    2x"
                                media="(min-width: 1024px)">
                            <source
                                srcset=" ./img/hotel/hotel-double2-slider4-for-mobile.jpg       1x,                  
                                                                 ./img/hotel/hotel-double2-slider4-for-mobile@2x.jpg    2x"
                                media="(max-width: 1023px)">
                            <img srcset="    ./img/hotel/hotel-double2-slider4-for-mobile.jpg       1x,
                                                                 ./img/hotel/hotel-double2-slider4-for-mobile@2x.jpg    2x"
                                src="        ./img/hotel/hotel-double2-slider4-for-mobile.jpg" width="194" height="194"
                                alt="Pic4">
                        </picture>
                    </div>

                </div>
                <div class="hotel-swiper-btn ">
                    <div class="swiper-button-next">
                        <button type="button" class="left-swiper-btn">
                            <svg class="left-swiper-arrow">
                                <use class="" href="./img/icons.svg#left-arrow"></use>
                            </svg></button>
                    </div>
                    <div class="swiper-button-prev"><button type="button" class="rigth-swiper-btn">
                            <svg class="right-swiper-arrow">
                                <use href="./img/icons.svg#right-arrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="button-hotel-s1 section-hotel" data-aos="zoom-in-up">
                <li>
                    <a href="./room.html" class="btn-mob button-mobile-circle btn-hotel-1">Детальніше</a>
                </li>
                <li>
                    <button type="button" data-modal="5"
                        class="btn-mob button-mobile-circle btn-hotel-2 js-open-modal">Переглянути ціни</button>
                </li>
            </ul>
        </div>
    </div>
</section>