<section class="main-hotel-s1 main-hotel">
  <div class="container correct">
<div class="topic-hotel topic-hotel-s1 section-hotel">
    <ul>
      <li class="topic-hotel-item-oneblock">
      <p class="topic-hotel-1">Amet minim mollit non</p>
      <h2 class="topic-hotel-2">MIMIHO</h2>
      </li>
      <li class="topic-hotel-item-tooblock">
      <h3 class="topic-hotel-3">ДВОМІСНИЙ НОМЕР люкс</h3>
      <p class="topic-hotel-4">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </li>
      </ul>
<div class="foto-hotel foto-hotel-s1-tablet">
</div>
</div>
<div class="foto-hotel foto-hotel-s1 section-hotel">
      <img
      src="./public/img/hotel/hotel-double2-room-for-mobile.jpg"
      srcset="
      ./public/img/hotel/hotel-double2-room-for-mobile.jpg    1x,
      ./public/img/hotel/hotel-double2-room-for-mobile@2x.jpg 2x
      "
      alt="hotel-double2-room-img1-for-desktop.jpg"
      width="244"
      height="322"
      >
</div>
<div class="slider-hotel-s1 section-hotel">
        <img class="active" 
        src="./img/hotel/hotel-double1-slider2-for-mobile.jpg"
        srcset="
        ./img/hotel/hotel-double1-slider2-for-mobile.jpg            1x,
        ./public/img/hotel/hotel-double1-slider1-for-desktop@2x.jpg 2x
        "
        alt="hotel-double1-slider1-for-mobile.jpg" width="194" height="194">
    <ul class="arrow-hotel-1">
    <li class="arrow">
      <button class="previous">
            <svg class="arrow-hotel-item" width="30" height="17">
              <use href="./img/icons.svg#left-arrow">
                </use>
            </svg>
      </button>
    </li>
    <li class="arrow">
      <button class="next">
            <svg class="arrow-hotel-item" width="30" height="17">
              <use href="./img/icons.svg#right-arrow">
              </use>
            </svg>
      </button>
    </li>
    </ul>
</div>
<div class="section-hotel section-hotel-down">
    <div class="slider-hotel-s1-tablet">
  <img class="active" 
  src="./img/hotel/hotel-double1-slider2-for-mobile.jpg" 
  srcset="
          ./img/hotel/hotel-double1-slider2-for-mobile.jpg            1x,
          ./public/img/hotel/hotel-double1-slider1-for-desktop@2x.jpg 2x
          " alt="hotel-double1-slider1-for-mobile.jpg" 
          width="194" height="194">
      <ul class="arrow-hotel-1">
      <li class="arrow">
      <button class="previous">
        <svg class="arrow-hotel-item" width="30" height="17">
          <use href="./img/icons.svg#left-arrow">
          </use>
        </svg>
      </button>
    </li>
    <li class="arrow">
      <button class="next">
        <svg class="arrow-hotel-item" width="30" height="17">
          <use href="./img/icons.svg#right-arrow">
          </use>
        </svg>
      </button>
    </li>
  </ul>
  </div>
    <div class="slider-hotel-s1-desktop">
      <img class="active" 
      src="./public/img/hotel/hotel-double1-slider4-for-desktop.jpg" 
      srcset="
      ./public/img/hotel/hotel-double1-slider4-for-desktop.jpg    1x
      ./public/img/hotel/hotel-double1-slider4-for-desktop@2x.jpg 2x
      "
      alt="hotel-double1-slider4-for-desktop.jpg"
      width="254" height="254">
      <ul class="arrow-hotel-1">
        <li class="arrow">
          <button class="previous">
            <svg class="arrow-hotel-item" width="30" height="17">
              <use href="./img/icons.svg#left-arrow">
              </use>
            </svg>
          </button>
        </li>
        <li class="arrow">
          <button class="next">
            <svg class="arrow-hotel-item" width="30" height="17">
              <use href="./img/icons.svg#right-arrow">
              </use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <ul class="button-hotel-s1">
    <li><button type="button" class="btn-mob button-mobile-circle btn-hotel-1">Детальніше</button>
    </li>
    <li><button type="button" class="btn-mob button-mobile-circle btn-hotel-2">Переглянути ціни</button>
    </li>
    </ul>
</div>
</div>
</section>

