.room-hero {
  height: 740px;
}

.room-hero .container {
  padding: 0;
}

.room-hero img {
  max-width: none;
  position: absolute;
  z-index: -1;
  width: 414px;
}

.mySwiper_room .btn {
  font-size: 4vw;
  width: max-content;
}

.mySwiper_room .room-hero-title {
  font-size: 6.5vw;
}

.room-hero .swiper-slide {
  text-align: left;
  background: transparent;
  display: block;
}

.room-hero-container {
  padding: 483px 15px 40px;
  background-color: rgba(0, 0, 0, 0.65);
}

.room-hero-title {
  max-width: 325px;
  font-family: 'Times New Roman Bold';
  font-weight: 700;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.05em;
  color: var(--white-color);
  margin-bottom: 14px;
}

.room-hero-text {
  max-width: 325px;
  font-family: 'Montserrat Bold';
  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 30px;
}

.room-hero .btn {
  margin-left: 94px;
}

.room-hero .swiper-button-next,
.room-hero .swiper-button-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 0;
  display: block;
  right: 15px;
  top: 350px;
}

.room-hero .swiper-button-prev {
  left: 15px;
  right: auto;
}

.room-hero-icon {
  fill: var(--accent-yellow-color);
  background-color: rgba(0, 0, 0, 0.65);
}

.room-hero-title-fix {
  margin-bottom: 46px;
}

@media screen and (min-width: 414px) {
  .mySwiper_room .btn {
    font-size: 16px;
    width: fit-content;
  }

  .mySwiper_room .room-hero-title {
    font-size: 28px;
  }
}


@media screen and (min-width: 1024px) {
  .room-hero {
    height: 720px;
  }

  .room-hero img {
    width: 1024px;
  }

  .room-hero-container {
    padding: 468px 47px 102px;
  }

  .room-hero-title {
    max-width: none;
    font-size: 36px;
    line-height: calc(41 / 36);
    margin-bottom: 24px;
  }

  .room-hero-text {
    max-width: 400px;
    font-size: 16px;
    line-height: calc(20 / 16);
    margin-bottom: 0;
  }

  .room-hero .btn {
    position: absolute;
    right: 47px;
    bottom: 62px;
  }

  .room-hero .swiper-button-next,
  .room-hero .swiper-button-prev {
    margin-top: 0;
    display: block;
    right: 47px;
    top: 340px;
  }

  .room-hero .swiper-button-prev {
    left: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .room-hero img {
    width: 1280px;
  }

  .room-hero-container {
    padding: 524px 85px 48px;
  }

  .room-hero .btn {
    right: 85px;
    bottom: 66px;
  }

  .room-hero .swiper-button-next,
  .room-hero .swiper-button-prev {
    right: 85px;
    top: 412px;
  }

  .room-hero .swiper-button-prev {
    left: 85px;
  }
}