.room-hero {
    padding: 483px 74px 14px 0;
    background-color: blue;
    background-image: url('../../public/img/hotel/hotel-hero-for-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.room-hero-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 28px;
    line-height: calc(32 / 28);
    letter-spacing: 0.05em;
    color: var(--white-color);
    margin-bottom: 14px;
}

.room-hero-after-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: calc(15 / 12);
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
}

.room-thumb {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.room-hero-media-list {
    list-style: none;
}

.room-hero-media-list +.room-hero-media-list {
    margin-top: 8px;
}

.room-hero-media-item {

}

.room-hero-media-link {

}

.room-hero-media-icon {
    fill: rgba(243, 198, 83, 0.7);
}