.room-hero {
  padding: 483px 0 40px;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../public/img/room-page/hero-room-slider1-for-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 217px;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .room-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../public/img/room-page/hero-room-slider1-for-mobile@2x.jpg);
  }
}

@media screen and (min-width: 414px) {
  .room-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../public/img/room-page/hero-room-slider1-for-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .room-hero {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../public/img/room-page/hero-room-slider1-for-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 1024px) {
  .room-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../public/img/room-page/hero-room-slider1-for-desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .room-hero {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../public/img/room-page/hero-room-slider1-for-desktop@2x.jpg);
    }
  }
}


.room-hero .swiper-slide {
  text-align: left;
  display: block;
  background-color: transparent;
}

.room-hero-title {
  max-width: 325px;
  font-family: 'Times New Roman Bold';
  font-weight: 700;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.room-hero-title-fix {
  margin-bottom: 46px;
}

.room-hero-text {
  max-width: 325px;
  font-family: 'Montserrat Bold';
  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.room-hero .btn {
  margin-left: 94px;
}

.room-hero .swiper-button-next {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 350px;
  background-color: rgba(0, 0, 0, 0.65);
}

.room-hero .swiper-button-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 350px;
  background-color: rgba(0, 0, 0, 0.65);
}

.room-hero .swiper {
  position: static;
}

.room-hero-icon {
  fill: #F3C653;
  position: absolute;
  top: 0;
  left: 0;
}