.room {
    padding: 32px 0;
    background-color: var(--fon-lemon-color);
}

.room-amenities {
    font-family: 'TimesNewRomanPSMT';
    font-weight: 400;
    font-size: 32px;
    line-height: calc(37 / 32);
    color: var(--black-color);
    text-transform: uppercase;
    margin-bottom: 16px;
}

.room-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 32px;
}

.room-list-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 32px;
}

.room-list {
    margin-bottom: 32px;
}

.room-item:not(:last-child) {
    margin-bottom: 32px;
}

.room-amenities-title {
    font-family: 'TimesNewRomanPS-BoldMT';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    color: var(--black-color);
    text-transform: uppercase;
    margin-bottom: 16px;
}

.room-item-list-item+.room-item-list-item {
    margin-top: 16px;
}

.room-link {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 4vw;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
    color: var(--brown-color);
    margin-top: 20px;
    transition: color var(--timing-function);
}

@media screen and (min-width: 414px) {
    .room-link {
        font-size: 16px;
    }
}

.room-link:hover,
.room-link:active,
.room-link:focus {
    color: var(--accent-yellow-color);
}

.room-link-icon {
    fill: var(--brown-color);
    transition: fill var(--timing-function);
}

.room-link:hover .room-link-icon,
.room-link:active .room-link-icon,
.room-link:focus .room-link-icon {
    fill: var(--accent-yellow-color);
}

.room .btn-mob {
    padding: 20px 42px;
    font-size: 4vw;
    width: 100%;
}

@media screen and (min-width: 414px) {
    .room .btn-mob {
        font-size: 20px;
        width: auto;
    }
}

@media screen and (min-width: 1024px) {
    .room {
        padding: 50px 0 40px 0;
    }

    .room-text {
        max-width: 757px;
    }

    .room-list {
        margin-bottom: 40px;
    }

    .room-link {
        gap: 16px;
        font-size: 20px;
        line-height: calc(24 / 20);
        margin-top: 32px;
        justify-content: flex-start;
    }

    .room-item-list {
        display: flex;
        gap: 80px;
    }

    .room-item-list-item+.room-item-list-item {
        margin: 0;
    }

    .room-list-text {
        max-width: 400px;
    }

    .room-thumb {
        margin-left: 480px;
    }

    .room-link {
        line-height: calc(24 / 20);
        margin-top: 32px;
    }

    .room .btn-mob {
        font-size: 24px;
        line-height: calc(29 / 24);
    }
}

@media screen and (min-width: 1280px) {
    .room {
        padding: 48px 0;
    }

    .room-item-list {
        gap: 159px;
    }

    .room-thumb {
        margin-left: 559px;
    }
}