<footer>
  <div class="footer-wrap">
    <a href="/src/index.html" class="logo">міміно</a>
    <ul>
      <li><a href="/src/index.html" class="footer-link link">Головна</a></li>
      <li><a href="/src/restaurant.html" class="footer-link link">Ресторан</a></li>
      <li><a href="/src/hotel.html" class="footer-link link">Готель</a></li>
    </ul>
    <ul>
      <li>
        <a href="#" class="link">
          <p>Telegram</p>
          <svg width="24" height="24">
            <use href="/src/img/icons.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="link">
          <p>Facebook</p>
          <svg width="24" height="24">
            <use href="/src/img/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="link">
          <p>Instagram</p>
          <svg width="24" height="24">
            <use href="/src/img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>