<div class="footer-container container">
  <a href="./index.html" class="footer-logo link">MIMIHO</a>

  <div class="footer-wrap">

    <ul class="footer-nav-list list">
      <li class="footer-nav-item">
        <a href="./index.html" class="footer-nav-link link">Головна</a>
      </li>
      <li class="footer-nav-item">
        <a href="./restaurant.html" class="footer-nav-link link">Ресторан</a>
      </li>
      <li class="footer-nav-item">
        <a href="./hotel.html" class="footer-nav-link link">Готель</a>
      </li>
    </ul>

    <ul class="footer-soc-list list">
      <li class="footer-soc-item">
        <a href="https://telegram.org/" target="_blank" rel="noopener noreferrer" class="footer-soc-link link">
          <p class="footer-soc-title">Telegram</p>
          <svg class="footer-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="footer-soc-link link">
          <p class="footer-soc-title">Facebook</p>
          <svg class="footer-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="footer-soc-link link">
          <p class="footer-soc-title">Instagram</p>
          <svg class="footer-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button id="scrollToTopBtn" class="to-top-btn" type="button">
      Go to Top
      <svg class="arrow-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
    
  </div>
</div>