<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MIMIHO</title>
</head>

<body>
  <!-- Header-->
  <header class="header">
    <!-- <nav class="header-navigation"> -->
      <a class="header-logo link" href="./index.html">MIMIHO</a>
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href="">Ресторан</a>
          <a href="" class="header-tel-icon link">
            <svg class="header-icon" width="24" height="24">
              <use href="./img/icons.svg#phone"></use>
            </svg>
          </a>
          <a class="header-item-resttel link" href="tel:0955559533">095 555 95 33</a>
        </li>
      </ul>
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href="">Готель</a>
          <a href="" class="header-tel-icon link">
            <svg class="header-icon" width="24" height="24">
              <use href="./img/icons.svg#phone"></use>
            </svg>
          </a>
          <a class="header-item-resttel link" href="tel:0668491089">066 849 10 89</a>
        </li>
      </ul>
    <!-- </nav> -->
    
   <div class="header-soc-icon" >
     <ul>
        <li class="header-soc-item">
          <a href="" class="header-soc-link link">
            <svg class="header-icon" width="24" height="24">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a href="" class="header-soc-link link">
            <svg class="header-icon" width="24" height="24">
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a href="" class="header-soc-link link">
            <svg class="header-icon" width="24" height="24">
              <use href="./img/icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
     </ul>
   </div>
  </header>

  <main></main>
  <footer></footer>
</body>

</html>