<div class="container">
  <div class="header-thumb">
    <a class="header-logo link" href="./index.html">MIMIHO</a>

    <nav class="header-navigation">
      <ul class="header-navigation-list list">
        <li class="header-navigation-item">
          <a class="header-navigation-link link" href="./restaurant.html">Ресторан</a>
          <a href="tel:0955559533" class="header-navigation-tel link">
            <svg class="header-navigation-icon" width="24" height="24">
              <use href="./img/icons.svg#phone"></use>
            </svg>
            <span class="header-navigation-text">095 555 95 33</span>
          </a>
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link link" href="./hotel.html">Готель</a>
          <a href="tel:0668491089" class="header-navigation-tel link">
            <svg class="header-navigation-icon" width="24" height="24">
              <use href="./img/icons.svg#phone"></use>
            </svg>
            <span class="header-navigation-text">066 849 10 89</span>
          </a>
        </li>
      </ul>
    </nav>
    <ul class="header-media-list">
      <li class="header-media-item">
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer nofollow"
          class="header-media-link link">
          <svg class="header-media-icon" width="24" height="24">
            <use href="./img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-media-item">
        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer nofollow"
          class="header-media-link link">
          <svg class="header-media-icon" width="24" height="24">
            <use href="./img/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-media-item">
        <a href="https://web.telegram.org" target="_blank" rel="noopener noreferrer nofollow"
          class="header-media-link link">
          <svg class="header-media-icon" width="24" height="24">
            <use href="./img/icons.svg#telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <address class="header-adress">
    <a href="https://goo.gl/maps/CPFVVT7tqRFJdAgo7" target="_blank" rel="noopener noreferrer nofollow"
      class="header-adress-link">
      <svg class="header-adress-icon" width="24" height="24">
        <use href="./img/icons.svg#location"></use>
      </svg>
      <p class="header-adress-text">
        Україна, м. Полтава,<br>
        вул. Маршала Бірюзова, 15
      </p>
    </a>
  </address>
</div>