<div class="container header-container">
  <!-- <nav class="header-navigation"> -->
  <header class="header">
    <a class="header-logo link" href="./index.html">MIMIHO</a>
    <ul class="header-list list">
      <li class="header-item">
        <a class="header-link link" href="">Ресторан</a>
        <a href="" class="header-tel-icon link">
          <svg class="header-icon" width="24" height="24">
            <use href="./img/icons.svg#phone"></use>
          </svg>
        </a>
      <div class="header-mobcontact">
          <a class="header-item-resttel link" href="tel:0955559533"
            >095 555 95 33</a
          >
      </div>
      </li>
    </ul>
    <ul class="header-list list">
      <li class="header-item">
        <a class="header-link link" href="">Готель</a>
        <a href="" class="header-tel-icon link">
          <svg class="header-icon" width="24" height="24">
            <use href="./img/icons.svg#phone"></use>
          </svg>
        </a>
        <div class="header-mobcontact">
          <a class="header-item-resttel link" href="tel:0668491089"
            >066 849 10 89</a
          >
        </div>
        <!-- <div href="" class="adress"> -->
          <svg class="header-icon" width="20" height="20">
            <use href="./img/icons.svg#location"></use>
          </svg>
          <address class="adres">
            <a href="https://goo.gl/maps/9AMAfSHgEKEqrT4X7" target="_blank" rel="noopener noreferrer nofollow">Україна, м. Полтава, <br>
  вул. Маршала Бірюзова, 15</a>
          </address>
        <!-- </div> -->
      </li>
    </ul>
    <!-- </nav> -->
  
    <div class="header-soc-icon">
      <ul class="header-soc-list">
        <li class="header-soc-item">
          <a href="" target="_blank" rel="noopener noreferrer nofollow"  class="header-soc-link link">
            <svg class="header-icon" width="24" height="24">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a href="" target="_blank" rel="noopener noreferrer nofollow" class="header-soc-link link">
            <svg class="header-icon" width="24" height="24">
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a href="" target="_blank" rel="noopener noreferrer nofollow" class="header-soc-link link">
            <svg class="header-icon" width="24" height="24">
              <use href="./img/icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </header>
</div>
