<section class="hero">
    <div class="container ">
        <h1 class="hero-title" data-aos="fade-up" data-aos-anchor-placement="center-center">M I M I H O</h1>
        <p class="hero-text" data-aos="fade-up" data-aos-anchor-placement="center-center" data-aos-delay="500">Ресторанно-готельний комплекс
        </p>
        <h2 class="hero-subtitle" data-aos="fade-up" data-aos-anchor-placement="center-center" data-aos-delay="1000">СМАК ЖИТТЯ 24/7</h2>
        <div class="hero-btn-thumb">
            <button type="button" class="hero-btn btn js-open-modal" data-modal="2">Забронювати столик</button>
            <button type="button" class="hero-btn btn js-open-modal" data-modal="1">Забронювати номер</button>
        </div>
    </div>
</section>