<section class="about-hotel">
  <div class="container">
    <div class="about-hotel-container">
      <div class="about-hotel-title-container">
        <p class="about-pretitles hotel-pretitle">Amet minim mollit non</p>
        <h2 class="about-titles hotel-titles">MIMINO</h2>
        <p class="about-subtitles hotel-subtitle"> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia
          consequat duis enim velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <picture class="">

        <source
          srcset="./img/homepage/homepage-about-hotel-img1-for-desk.jpg 1x, ./img/homepage/homepage-about-hotel-img1-for-desk@2x.jpg 2x "
          media="(min-width: 1280px)">
        <source
          srcset="./img/homepage/homepage-about-hotel-img1-for-tablet.jpg 1x, ./img/homepage/homepage-about-hotel-img1-for-tablet@2x.jpg  2x"
          media="(min-width: 1024px)">
        <source
          srcset="./img/homepage/homepage-about-hotel-img1-for-mobile.jpg 1x, ./img/homepage/homepage-about-hotel-img1-for-mobile@2x.jpg 2x"
          media="(min-width: 384px)">

        <img class="about-first-images first-hotel-images" src="./img/homepage/homepage-about-hotel-img1-for-mobile.jpg"
          alt="hotel hall ">
      </picture>
    </div>

    <div class="second-hotel-container wraper">
      
      <p class="about-secondary-subtitle ">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      <picture class="about-hotel-picture">
        <source
          srcset="./img/homepage/homepage-about-hotel-img2-for-desk.jpg 1x, ./img/homepage/homepage-about-hotel-img2-for-desk@2x.jpg 2x "
          media="(min-width:1280px)">
        <source
          srcset="./img/homepage/homepage-about-hotel-img2-for-tablet.jpg 1x, ./img/homepage/homepage-about-hotel-img2-for-tablet@2x.jpg  2x"
          media="(min-width: 1024px)">
        <source
          srcset="./img/homepage/homepage-about-hotel-img2-for-mobile.jpg 1x, ./img/homepage/homepage-about-hotel-img2-for-mobile@2x.jpg 2x"
          media="(min-width: 384px)">
        <img class="about-second-images" src="./img/homepage/homepage-about-hotel-img2-for-mobile.jpg"
          alt="restaurant terrace">
      </picture>
    </div>
    <!------------------------------------SLIDER----------------------------------->
    <div class="hotel-swiper-container mySwiper">
      <div class="hotel-swiper-list">
        <div class="hotel-swiper-item">
          <picture class="">
            <source
              srcset="./img/homepage/homepage-about-hotel-slider1-for-desk.jpg 1x, ./img/homepage/homepage-about-hotel-slider1-for-desk@2x.jpg 2x "
              media="(min-width:1280px)">
            <source
              srcset="./img/homepage/homepage-about-hotel-slider1-for-tablet.jpg 1x, ./img/homepage/homepage-about-hotel-slider1-for-tablet@2x.jpg  2x"
              media="(min-width: 1024px)">
            <source
              srcset="./img/homepage/homepage-about-hotel-slider1-for-mobile.jpg 1x, ./img/homepage/homepage-about-hotel-slider1-for-mobile.jpg@2x.jpg 2x"
              media="(min-width: 384px)">
            <img class="hotel-swiper-img" src="./img/homepage/homepage-about-hotel-slider1-for-mobile.jpg"
              alt="hotel-slider1">
          </picture>
        </div>
        <!--<div class="hotel-swiper-item"><img class="hotel-swiper-img" src="../../public/img/homepage/homepage-about-hotel-slider2-for-mobile.jpg"
                    alt="hotel-slider2" width="245" height="245"></div>
                <div class="hotel-swiper-item"><img class="hotel-swiper-img" src="../../public/img/homepage/homepage-about-hotel-slider3-for-mobile.jpg"
                    alt="hotel-slider3" width="245" height="245"></div>
                <div class="hotel-swiper-item"><img class="hotel-swiper-img" src="../../public/img/homepage/homepage-about-hotel-slider4-for-mobile.jpg"
                    alt="hotel-slider4" width="245" height="245"></div>---->
      </div>
      <div class="swiper-pagination">
        <ul class="swiper-buttons">
          <li>
            <button type="button" class="left-swiper-btn">
              <svg class="left-swiper-arrow">
                <use href="./img/icons.svg#left-arrow"></use>
              </svg>
            </button>
          </li>
          <li>
            <button type="button" class="rigth-swiper-btn">
              <svg class="right-swiper-arrow">
                <use href="./img/icons.svg#right-arrow"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <!-------------------------ABOUT-HOTEL-SLIDER------------------------------->

      <!--<ul class="swiper-buttons">
        <li>
          <button type="button" class="left-swiper-btn">
            <svg class="left-swiper-arrow">
              <use href="./img/icons.svg#left-arrow"></use>
            </svg>
          </button>
          </li>
        <li>
          <button type="button" class="rigth-swiper-btn">
            <svg class="right-swiper-arrow">
              <use href="./img/icons.svg#right-arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
   -->
    </div>
  </div>
</section>