<section class="about-hotel">
  <div class="container">
    <div class="about-hotel-container">
      <div class="about-hotel-title-container">
        <p class="about-pretitles hotel-pretitle" data-aos="zoom-in-up">Amet minim mollit non</p>
        <h2 class="about-titles hotel-titles" data-aos="zoom-in-up" data-aos-delay="200">MIMINO</h2>
        <p class="about-subtitles hotel-subtitle" data-aos="zoom-in-up" data-aos-delay="500"> Amet minim mollit non
          deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia
          consequat duis enim velit
          mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <picture data-aos="zoom-in-up" class="about-first-images first-hotel-images">
        <source srcset="./img/homepage/homepage-about-hotel-img1-for-desk.jpg     1x, 
                  ./img/homepage/homepage-about-hotel-img1-for-desk@2x.jpg  2x" media="(min-width: 1280px)">
        <source srcset="./img/homepage/homepage-about-hotel-img1-for-tablet.jpg    1x, 
                  ./img/homepage/homepage-about-hotel-img1-for-tablet@2x.jpg 2x" media="(min-width: 1024px)">
        <source srcset="./img/homepage/homepage-about-hotel-img1-for-mobile.jpg    1x, 
                  ./img/homepage/homepage-about-hotel-img1-for-mobile@2x.jpg 2x" media="(min-width: 384px)">
        <img src="./img/homepage/homepage-about-hotel-img1-for-mobile.jpg" alt="hotel hall">
      </picture>
    </div>
    <div class="second-hotel-container">
      <p class="about-secondary-subtitle" data-aos="zoom-in-up">Amet minim mollit non deserunt ullamco est sit aliqua
        dolor do amet sint.
        Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      <picture data-aos="zoom-in-up" class="about-hotel-picture about-second-images" >
        <source srcset="./img/homepage/homepage-about-hotel-img2-for-desk.jpg     1x, 
                  ./img/homepage/homepage-about-hotel-img2-for-desk@2x.jpg  2x" media="(min-width:1280px)">
        <source srcset="./img/homepage/homepage-about-hotel-img2-for-tablet.jpg    1x, 
                  ./img/homepage/homepage-about-hotel-img2-for-tablet@2x.jpg 2x" media="(min-width: 1024px)">
        <source srcset="./img/homepage/homepage-about-hotel-img2-for-mobile.jpg    1x, 
                  ./img/homepage/homepage-about-hotel-img2-for-mobile@2x.jpg 2x" media="(min-width: 384px)">
        <img 
          src="./img/homepage/homepage-about-hotel-img2-for-mobile.jpg" alt="restaurant terrace">
      </picture>
    </div>

    <!-- SLIDER -->
    <div class="about-hotel-slider-container hotel-wraper">
      <div class=" swiper mySwiper ">
        <div class=" hotel-swiper-wraper swiper-wrapper">
          <div class="swiper-slide hotel-swipers">
            <picture>
              <source srcset="./img/homepage/homepage-about-hotel-slider1-for-desk.jpg      1x, 
                        ./img/homepage/homepage-about-hotel-slider1-for-desk@2x.jpg   2x" media="(min-width: 1280px)">
              <source srcset="./img/homepage/homepage-about-hotel-slider1-for-tablet.jpg    1x, 
                        ./img/homepage/homepage-about-hotel-slider1-for-tablet@2x.jpg 2x" media="(min-width: 1024px)">
              <source srcset="./img/homepage/homepage-about-hotel-slider1-for-mobile.jpg     1x, 
                        ./img/homepage/homepage-about-hotel-slider1-for-mobile@2x.jpg 2x" media="(min-width: 384px)">
              <img class="about-hotel-swiper-img " src="./img/homepage/homepage-about-hotel-slider1-for-mobile.jpg"
                alt="Pic1">
            </picture>
          </div>
          <div class="swiper-slide hotel-swiper-wrapper">
            <picture>
              <source srcset="./img/homepage/homepage-about-hotel-slider2-for-desk.jpg      1x, 
                        ./img/homepage/homepage-about-hotel-slider2-for-desk@2x.jpg   2x" media="(min-width: 1280px)">
              <source srcset="./img/homepage/homepage-about-hotel-slider2-for-tablet.jpg    1x, 
                        ./img/homepage/homepage-about-hotel-slider2-for-tablet@2x.jpg 2x" media="(min-width: 1024px)">
              <source srcset="./img/homepage/homepage-about-hotel-slider2-for-mobile.jpg    1x, 
                        ./img/homepage/homepage-about-hotel-slider2-for-mobile@2x.jpg 2x" media="(min-width: 384px)">
              <img class="about-hotel-swiper-img" src="./img/homepage/homepage-about-hotel-slider2-for-mobile.jpg"
                alt="Pic2">
            </picture>
          </div>
          <div class="swiper-slide hotel-swiper-wrapper">
            <picture>
              <source srcset="./img/homepage/homepage-about-hotel-slider3-for-desk.jpg      1x, 
                        ./img/homepage/homepage-about-hotel-slider3-for-desk@2x.jpg   2x" media="(min-width: 1280px)">
              <source srcset="./img/homepage/homepage-about-hotel-slider3-for-tablet.jpg    1x, 
                        ./img/homepage/homepage-about-hotel-slider3-for-tablet@2x.jpg 2x" media="(min-width: 1024px)">
              <source srcset="./img/homepage/homepage-about-hotel-slider3-for-mobile.jpg    1x, 
                        ./img/homepage/homepage-about-hotel-slider3-for-mobile@2x.jpg 2x" media="(min-width: 384px)">
              <img class="about-hotel-swiper-img" src="./img/homepage/homepage-about-hotel-slider3-for-mobile.jpg"
                alt="Pic3">
            </picture>
          </div>
          <div class="swiper-slide hotel-swiper-wrapper">
            <picture>
              <source srcset="./img/homepage/homepage-about-hotel-slider4-for-desk.jpg      1x, 
                        ./img/homepage/homepage-about-hotel-slider4-for-desk@2x.jpg   2x" media="(min-width: 1280px)">
              <source srcset="./img/homepage/homepage-about-hotel-slider4-for-tablet.jpg    1x, 
                        ./img/homepage/homepage-about-hotel-slider4-for-tablet@2x.jpg 2x" media="(min-width: 1024px)">
              <source srcset="./img/homepage/homepage-about-hotel-slider4-for-mobile.jpg    1x, 
                        ./img/homepage/homepage-about-hotel-slider4-for-mobile@2x.jpg 2x" media="(min-width: 384px)">
              <img class="about-hotel-swiper-img " src="./img/homepage/homepage-about-hotel-slider4-for-mobile.jpg"
                alt="Pic4">
            </picture>
          </div>
          <div class="swiper-slide hotel-swiper-wrapper">
            <picture>
              <source srcset="./img/homepage/homepage-about-hotel-slider5-for-desk.jpg      1x, 
                        ./img/homepage/homepage-about-hotel-slider5-for-desk@2x.jpg   2x" media="(min-width: 1280px)">
              <source srcset="./img/homepage/homepage-about-hotel-slider5-for-tablet.jpg    1x, 
                        ./img/homepage/homepage-about-hotel-slider5-for-tablet@2x.jpg 2x" media="(min-width: 1024px)">
              <source srcset="./img/homepage/homepage-about-hotel-slider5-for-mobile.jpg    1x, 
                        ./img/homepage/homepage-about-hotel-slider5-for-mobile@2x.jpg 2x" media="(min-width: 384px)">
              <img class="about-hotel-swiper-img " src="./img/homepage/homepage-about-hotel-slider5-for-mobile.jpg"
                alt="Pic5">
            </picture>
          </div>
        </div>
        <div class="hotel-swiper-buttons ">
          <div class="swiper-button-next ">
            <button type="button" class="left-swiper-btn">
              <svg class="left-swiper-arrow">
                <use class="" href="./img/icons.svg#left-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="swiper-button-prev">
            <button type="button" class="rigth-swiper-btn">
              <svg class="right-swiper-arrow">
                <use href="./img/icons.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>