<section class="about-restaurant">
    <div class="container ">
        <div class="about-rest-container">
            <div class="about-rest-title-container">
                <p class="about-pretitles">Amet minim mollit non</p>
                <h2 class="about-titles">MIMINO</h2>
                <p class="about-subtitles"> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit
                    officia consequat duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>

            <picture class="">
                <source
                    srcset="./img/homepage/homepage-about-rest-img1-for-desk.jpg 1x, ./img/homepage/homepage-about-rest-img1-for-desk@2x.jpg 2x "
                    media="(min-width: 1280px)">
                <source
                    srcset="./img/homepage/homepage-about-rest-img1-for-tablet.jpg 1x, ./img/homepage/homepage-about-rest-img1-for-tablet@2x.jpg 2x"
                    media="(min-width: 1024px)">
                <source
                    srcset="./img/homepage/homepage-about-rest-img1-for-mobile.jpg 1x, ./img/homepage/homepage-about-rest-img1-for-mobile@2x.jpg 2x"
                    media="(min-width: 384px)">


                <img class="about-first-images" src="./img/homepage/homepage-about-rest-img1-for-mobile.jpg"
                    alt="restaurant interior">
            </picture>
        </div>
        <div class="second-picture-container">
            <picture class="">
                <source
                    srcset="./img/homepage/homepage-about-rest-img2-for-desk.jpg 1x, ./img/homepage/homepage-about-rest-img2-for-desk@2x.jpg 2x "
                    media="(min-width: 1280px)">
                <source
                    srcset="./img/homepage/homepage-about-rest-img2-for-tablet.jpg 1x, ./img/homepage/homepage-about-rest-img2-for-tablet@2x.jpg 2x"
                    media="(min-width: 1024px)">
                <source
                    srcset="./img/homepage/homepage-about-rest-img2-for-mobile.jpg 1x, ./img/homepage/homepage-about-rest-img2-for-mobile@2x.jpg 2x "
                    media="(max-width: 384px)">


                <img class="about-second-images" src="./img/homepage/homepage-about-rest-img2-for-mobile.jpg"
                    alt="restaurant terrace">
            </picture>
            <p class="about-secondary-subtitle">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint.
                Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    </div>
</section>