<section class="details-restaurant">
  <div class="container">
    <div class="details-restaurant__wrap">
      <h2 class="details-restaurant__name">MIMIHO</h2>
      <h3 class="details-restaurant__title">Ресторан</h3>
      <p class="details-restaurant__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <!-- Here will be a slider -->

    <div class="details-restaurant__buttons">
      <button type="button" class="btn button-grey btn-section2">
        Забронювати столик
      </button>
      <button type="button" class="btn button-grey btn-section2">
        Переглянути меню
      </button>
    </div>
  </div>
</section>
