<section class="zero">
    <div class="container">
        <p class="zero-pre-title">Amet minim mollit non</p>
        <h2 class="zero-title">MIMIHO</h2>
        <p class="zero-after-title">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <picture>
            <source
                srcset="./img/homepage/homepage-about-rest-img1-for-desk.jpg 1x, ./img/homepage/homepage-about-rest-img1-for-desk@2x.jpg 2x "
                media="(min-width: 1280px)"
                width="460"
                height="574">
            <source
                srcset="./img/homepage/homepage-about-rest-img1-for-tablet.jpg 1x, ./img/homepage/homepage-about-rest-img1-for-tablet@2x.jpg 2x"
                media="(min-width: 1024px)"
                width="400"
                height="524">
            <source
                srcset="./img/homepage/homepage-about-rest-img1-for-mobile.jpg 1x, ./img/homepage/homepage-about-rest-img1-for-mobile@2x.jpg 2x"
                media="(min-width: 1023px)">
            <img class="zero-pic-first" 
                src="./img/homepage/homepage-about-rest-img1-for-mobile.jpg"
                alt="restaurant interior"
                width="244"
                height="322">
        </picture>
        <div class="zero-wrap">
            <picture>
                <source
                    srcset="./img/homepage/homepage-about-rest-img2-for-desk.jpg 1x, ./img/homepage/homepage-about-rest-img2-for-desk@2x.jpg 2x "
                    media="(min-width: 1280px)"
                    width="460"
                    height="574">
                <source
                    srcset="./img/homepage/homepage-about-rest-img2-for-tablet.jpg 1x, ./img/homepage/homepage-about-rest-img2-for-tablet@2x.jpg 2x"
                    media="(min-width: 1024px)"
                    width="350"
                    height="500">
                <source
                    srcset="./img/homepage/homepage-about-rest-img2-for-mobile.jpg 1x, ./img/homepage/homepage-about-rest-img2-for-mobile@2x.jpg 2x"
                    media="(min-width: 1023px)">
                <img class="zero-pic" 
                    src="./img/homepage/homepage-about-rest-img2-for-mobile.jpg"
                    alt="restaurant interior"
                    width="200"
                    height="278">
            </picture>
            <p class="zero-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="swiper mySwiper_0">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture class="zero-pic-slide">
                    <source
                        srcset="./img/homepage/homepage-about-rest-slider1-for-desk.jpg 1x, ./img/homepage/homepage-about-rest-slider1-for-desk@2x.jpg 2x "
                        media="(min-width: 1280px)"
                        width="254"
                        height="254">
                    <source
                        srcset="./img/homepage/homepage-about-rest-slider1-for-tablet.jpg 1x, ./img/homepage/homepage-about-rest-slider1-for-tablet@2x.jpg 2x"
                        media="(min-width: 1024px)"
                        width="194"
                        height="194">
                    <source
                        srcset="./img/homepage/homepage-about-rest-slider1-for-mobile.jpg 1x, ./img/homepage/homepage-about-rest-slider1-for-mobile@2x.jpg 2x "
                        media="(max-width: 1023px)"
                        width="245"
                        height="245">
                    <img class=""
                        src="./img/homepage/homepage-about-rest-slider1-for-mobile.jpg"
                        alt="slider 1"
                        width="245"
                        height="245">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture class="zero-pic-slide">
                    <source
                        srcset="./img/homepage/homepage-about-rest-slider2-for-desk.jpg 1x, ./img/homepage/homepage-about-rest-slider2-for-desk@2x.jpg 2x "
                        media="(min-width: 1280px)"
                        width="254"
                        height="254">
                    <source
                        srcset="./img/homepage/homepage-about-rest-slider2-for-tablet.jpg 1x, ./img/homepage/homepage-about-rest-slider2-for-tablet@2x.jpg 2x"
                        media="(min-width: 1024px)"
                        width="194"
                        height="194">
                    <source
                        srcset="./img/homepage/homepage-about-rest-slider2-for-mobile.jpg 1x, ./img/homepage/homepage-about-rest-slider2-for-mobile@2x.jpg 2x "
                        media="(max-width: 1023px)"
                        width="245"
                        height="245">
                    <img class=""
                        src="./img/homepage/homepage-about-rest-slider2-for-mobile.jpg"
                        alt="slider 2"
                        width="245"
                        height="245">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture class="zero-pic-slide">
                    <source
                        srcset="./img/homepage/homepage-about-rest-slider3-for-desktop.jpg 1x, ./img/homepage/homepage-about-rest-slider3-for-desktop@2x.jpg 2x "
                        media="(min-width: 1280px)"
                        width="254"
                        height="254">
                    <source
                        srcset="./img/homepage/homepage-about-rest-slider3-for-tablet.jpg 1x, ./img/homepage/homepage-about-rest-slider3-for-tablet@2x.jpg 2x"
                        media="(min-width: 1024px)"
                        width="194"
                        height="194">
                    <source
                        srcset="./img/homepage/homepage-about-rest-slider3-for-mobile.jpg 1x, ./img/homepage/homepage-about-rest-slider3-for-mobile@2x.jpg 2x "
                        media="(max-width: 1023px)"
                        width="245"
                        height="245">
                    <img class=""
                        src="./img/homepage/homepage-about-rest-slider3-for-mobile.jpg"
                        alt="slider 3"
                        width="245"
                        height="245">
                </picture>
              </div>
              <div class="swiper-slide">
                <picture class="zero-pic-slide">
                    <source
                        srcset="./img/homepage/homepage-about-rest-slider4-for-desktop.jpg 1x, ./img/homepage/homepage-about-rest-slider4-for-desktop@2x.jpg 2x "
                        media="(min-width: 1280px)"
                        width="254"
                        height="254">
                    <source
                        srcset="./img/homepage/homepage-about-rest-slider4-for-tablet.jpg 1x, ./img/homepage/homepage-about-rest-slider4-for-tablet@2x.jpg 2x"
                        media="(min-width: 1024px)"
                        width="194"
                        height="194">
                    <source
                        srcset="./img/homepage/homepage-about-rest-slider4-for-mobile.jpg 1x, ./img/homepage/homepage-about-rest-slider4-for-mobile@2x.jpg 2x "
                        media="(max-width: 1023px)"
                        width="245"
                        height="245">
                    <img class=""
                        src="./img/homepage/homepage-about-rest-slider4-for-mobile.jpg"
                        alt="slider 4"
                        width="245"
                        height="245">
                </picture>
              </div>
            </div>
            <div class="zero-buttons">
                <div class="swiper-button-next">
                    <svg class="zero-icon" width="32" height="32">
                      <use href="./img/icons.svg#left-arrow"></use>
                    </svg>
                </div>
                <div class="swiper-button-prev">
                    <svg class="zero-icon" width="32" height="32">
                      <use href="./img/icons.svg#right-arrow"></use>
                    </svg>
                </div>
            </div>
          </div>
    </div>
  </div>
</section>