<section class="details-hotel">
  <div class="container">
    <div class="details-hotel__wrap">
      <h2 class="details-restaurant__name" data-aos="flip-down">MIMIHO</h2>
      <h3 class="details-hotel__title" data-aos="flip-down" data-aos-delay="300">Готель</h3>
      <p class="details-hotel__text" data-aos="flip-down" data-aos-delay="500">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="details-hotel__bottom-wrap">
      <div class="swiper mySwiper_2 details-hotel__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider1-for-desk.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider1-for-desk@2x.jpg 2x
                "
                media="(min-width: 1280px)"
                width="270"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider1-for-tablet.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider1-for-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
                width="270"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider1-for-mobile.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider1-for-mobile@2x.jpg 2x
                "
                media="(max-width: 1023px)"
                width="270"
                height="270">
              <img
                class="room-hero-image"
                src="./img/homepage/homepage-detail-hotel-slider1-for-mobile.jpg"
                alt="Slide with our meat"
                width="270"
                height="270"
            ></picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider3-for-desk.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider3-for-desk@2x.jpg 2x
                "
                media="(min-width: 1280px)"
                width="162"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider3-for-tablet.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider3-for-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
                width="162"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider3-for-tablet.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider3-for-tablet@2x.jpg 2x
                "
                media="(max-width: 1023px)"
                width="162"
                height="270">
              <img
                class="room-hero-image"
                src="./img/homepage/homepage-detail-hotel-slider3-for-tablet.jpg"
                alt="Slide with our meat"
                width="162"
                height="270"
            ></picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider2-for-desk.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider2-for-desk@2x.jpg 2x
                "
                media="(min-width: 1280px)"
                width="270"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider2-for-tablet.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider2-for-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
                width="162"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider2-for-tablet.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider2-for-tablet@2x.jpg 2x
                "
                media="(max-width: 1023px)"
                width="162"
                height="270">
              <img
                class="room-hero-image"
                src="./img/homepage/homepage-detail-hotel-slider2-for-tablet.jpg"
                alt="Slide with our sandwich"
                width="162"
                height="270"
            ></picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider4-for-desktop.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider4-for-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
                width="270"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider4-for-mobile.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider4-for-mobile@2x.jpg 2x
                "
                media="(min-width: 1024px)"
                width="270"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider4-for-tablet.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider4-for-tablet@2x.jpg 2x
                "
                media="(max-width: 1023px)"
                width="270"
                height="270">
              <img
                class="room-hero-image"
                src="./img/homepage/homepage-detail-hotel-slider4-for-tablet.jpg"
                alt="Slide with our food"
                width="270"
                height="270"
            ></picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider1-for-desk.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider1-for-desk@2x.jpg 2x
                "
                media="(min-width: 1280px)"
                width="270"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider1-for-tablet.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider1-for-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
                width="270"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider1-for-mobile.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider1-for-mobile@2x.jpg 2x
                "
                media="(max-width: 1023px)"
                width="270"
                height="270">
              <img
                class="room-hero-image"
                src="./img/homepage/homepage-detail-hotel-slider1-for-mobile.jpg"
                alt="Slide with our meat"
                width="270"
                height="270"
            ></picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider3-for-desk.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider3-for-desk@2x.jpg 2x
                "
                media="(min-width: 1280px)"
                width="162"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider3-for-tablet.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider3-for-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
                width="162"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider3-for-tablet.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider3-for-tablet@2x.jpg 2x
                "
                media="(max-width: 1023px)"
                width="162"
                height="270">
              <img
                class="room-hero-image"
                src="./img/homepage/homepage-detail-hotel-slider3-for-tablet.jpg"
                alt="Slide with our meat"
                width="162"
                height="270"
            ></picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider2-for-desk.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider2-for-desk@2x.jpg 2x
                "
                media="(min-width: 1280px)"
                width="270"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider2-for-tablet.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider2-for-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
                width="162"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider2-for-tablet.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider2-for-tablet@2x.jpg 2x
                "
                media="(max-width: 1023px)"
                width="162"
                height="270">
              <img
                class="room-hero-image"
                src="./img/homepage/homepage-detail-hotel-slider2-for-tablet.jpg"
                alt="Slide with our sandwich"
                width="162"
                height="270"
            ></picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider4-for-desktop.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider4-for-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
                width="270"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider4-for-mobile.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider4-for-mobile@2x.jpg 2x
                "
                media="(min-width: 1024px)"
                width="270"
                height="270">
              <source
                srcset="
                  ./img/homepage/homepage-detail-hotel-slider4-for-tablet.jpg    1x,
                  ./img/homepage/homepage-detail-hotel-slider4-for-tablet@2x.jpg 2x
                "
                media="(max-width: 1023px)"
                width="270"
                height="270">
              <img
                class="room-hero-image"
                src="./img/homepage/homepage-detail-hotel-slider4-for-tablet.jpg"
                alt="Slide with our food"
                width="270"
                height="270"
            ></picture>
          </div>
        </div>
        <div class="details-hotel__arrows-list">
          <div class="swiper-button-prev">
            <button class="details-hotel__button-arrow">
              <svg class="details-hotel__arrow-svg" width="30" height="17">
                <use href="./img/icons.svg#left-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="swiper-button-next">
            <button class="details-hotel__button-arrow">
              <svg class="details-hotel__arrow-svg" width="30" height="17">
                <use href="./img/icons.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="details-hotel__buttons">
        <button
          type="button"
          class="btn button-grey btn-section4 js-open-modal"
          data-modal="1"
        >
          Забронювати номер
        </button>
        <a
          class="btn button-grey btn-section4"
          style="text-align: center"
          href="./hotel.html#rooms"
          >Переглянути ціни</a
        >
      </div>
    </div>
  </div>
</section>
