<section class="homepage-contacts section">
  <div class="container contacts-container">
    <div class="contacts-container-theme">
      <h2 class="contacts-logo">MIMIHO</h2>
      <p class="contacts-descr">Ресторанно-готельний комплекс</p>
      <ul class="contacts-list list">
        <li class="contacts-item">
          <div class="contacts-wrapper">
            <p class="contacts-info">Ресторан</p>
            <div class="contacts-thumb">
              <a href="tel:0955559533" class="contacts-icon-link">
                <svg class="contacts-icon" width="24" height="24">
                  <use href="./img/icons.svg#phone"></use>
                </svg>
              </a>
              <a class="contacts-link link" href="tel:0955559533">
                095 555 95 33
              </a>
            </div>
          </div>
        </li>
        <li class="contacts-item">
          <div class="contacts-wrapper">
            <p class="contacts-info-second">Готель</p>
            <div class="contacts-thumb-two">
              <a href="tel:0668491089" class="contacts-icon-link">
                <svg class="contacts-icon" width="24" height="24">
                  <use href="./img/icons.svg#phone"></use>
                </svg>
              </a>
              <div class="contacts-thumb-three">
                <a
                  class="contacts-link contacts-link-first link"
                  href="tel:0668491089"
                >
                  066 849 10 89
                </a>
                <a class="contacts-link-second link" href="tel:0672758540"
                  >067 275 85 40
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="contacts-address-thumb">
        <address class="contacts-address">
          <a
            href="https://goo.gl/maps/CPFVVT7tqRFJdAgo7"
            target="_blank" rel="noopener noreferrer nofollow"
            class="contacts-address-link"
          >
            <svg class="contacts-address-icon" width="24" height="24">
              <use href="./img/icons.svg#location"></use>
            </svg>
          </a>
          <a
            class="contacts-address-location link"
            href="https://goo.gl/maps/CPFVVT7tqRFJdAgo7"
            rel="nofollow noopener"
            target="_blank"
          >
            Україна, м. Полтава, вул. Маршала Бірюзова, 15
          </a>
        </address>
      </div>
    </div>
    <div class="contacts-wrap">
      <iframe
        class="contacts-address-map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2585.9232114222996!2d34.5243523!3d49.5991975!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e0!3m2!1suk!2sus!4v1676827216868!5m2!1suk!2sus"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
</section>
