<section class="details-hotel">
  <div class="container">
    <div class="details-hotel__wrap">
      <h2 class="details-restaurant__name">MIMIHO</h2>
      <h3 class="details-hotel__title">Готель</h3>
      <p class="details-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="details-hotel__slider">
      <img
        src="../../public/img/homepage/homepage-detail-hotel-slider1-for-mobile.jpg"
        alt="Фото номера"
        width="274"
        height="270"
      />
      <ul class="details-hotel__arrows-list">
        <li class="details-hotel__arrow">
          <button class="details-hotel__previous-arrow">
            <svg class="details-hotel__arrow-svg" width="30" height="17">
              <use href="../../public/img/icons.svg#left-arrow"></use>
            </svg>
          </button>
        </li>
        <li class="details-hotel__arrow">
          <button class="details-hotel__previous-arrow">
            <svg class="details-hotel__arrow-svg" width="30" height="17">
              <use href="../../public/img/icons.svg#right-arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>

    <div class="details-hotel__buttons">
      <button type="button" class="btn button-grey btn-section4">
        Забронювати номер
      </button>
      <button type="button" class="btn button-grey btn-section4">
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
