<section class="homepage-contacts section">
  <div class="container contacts-container">
    <h2 class="contacts-logo">MIMIHO</h2>
    <p class="contacts-descr">Ресторанно-готельний комплекс</p>
    <ul class="contacts-list list">
      <li class="contacts-item">
        <div class="contacts-wrapper">
          <p class="contacts-info">Ресторан</p>
          <div class="contacts-thumb">
            <a class="contacts-link link" href="tel:0955559533">
              <svg class="contacts-icon" width="24" height="24">
                <use href="./images/icons.svg#phone"></use>
              </svg>
              095 555 95 33
            </a>
          </div>
        </div>
      </li>
      <li class="contacts-item">
        <div class="contacts-wrapper">
          <p class="contacts-info-second">Готель</p>
          <div class="contacts-thumb-two">
            <a class="contacts-link link" href="tel:0668491089">
              <svg class="contacts-icon" width="24" height="24">
                <use href="./images/icons.svg#phone"></use>
              </svg>
              066 849 10 89
            </a>
            <a class="contacts-link-second link" href="tel:0672758540"
              >067 275 85 40</a
            >
          </div>
        </div>
      </li>
    </ul>
    <div class="contacts-address-thumb">
      <address class="contacts-address">
        <a class="contacts-address-link" href="">
          <svg class="contacts-address-icon" width="24" height="24">
            <use href="./images/icons.svg#location"></use>
          </svg>
        </a>
        <a
          class="contacts-address-location link"
          href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116265.39879462148!2d34.31627331833374!3d49.59082456731856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e1!3m2!1suk!2sua!4v1676466077425!5m2!1suk!2sua"
          rel="nofollow noopener"
          target="_blank"
        >
          Україна, м. Полтава, вул. Маршала Бірюзова, 15
        </a>
      </address>
    </div>
    <iframe
      class="contacts-address-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.74741000362!2d34.48719882093293!3d49.60202332102101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1suk!2sua!4v1676493993457!5m2!1suk!2sua"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
  </div>
</section>
