<section class="homepage-contacts section">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <a href="" class="logo-link link">MIMIHO</a>
    <p class="contacts-descr">Ресторанно-готельний комплекс</p>
    <ul class="contacts-list list">
      <li class="contacts-item">
        <p class="contacts-info">Ресторан</p>
        <div class="contacts-thumb">
          <a class="contacts-link link" href="tel:0955559533">
            <svg class="contacts-icon" width="24" height="24">
              <use href="./images/icons.svg#phone"></use>
            </svg>
            095 555 95 33
          </a>
        </div>
      </li>
      <li class="contacts-item">
        <p class="contacts-info">Готель</p>
        <div class="contacts-thumb">
          <a class="contacts-link link" href="tel:0668491089">
            <svg class="contacts-icon" width="24" height="24">
              <use href="./images/icons.svg#phone"></use>
            </svg>
            066 849 10 89
          </a>
          <a class="contacts-link link" href="tel:0672758540">067 275 85 40</a>
        </div>
      </li>
    </ul>
    <address class="contacts-address">
      <div class="contacts-address-thumb">
        <a
          class="contacts-address-location link"
          href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116265.39879462148!2d34.31627331833374!3d49.59082456731856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e1!3m2!1suk!2sua!4v1676466077425!5m2!1suk!2sua"
          rel="nofollow noopener"
          target="_blank"
        >
          <svg class="contacts-address-icon" width="24" height="24">
            <use href="./images/icons.svg#location"></use>
          </svg>
          Україна, м. Полтава, вул. Маршала Бірюзова, 15
        </a>
      </div>
      <div>Map</div>
    </address>
  </div>
</section>
