<section class="about-restaurant">
    <div class="container ">
        <div class="about-rest-container">
            <div class="about-rest-title-container">
                <p class="about-pretitles" data-aos="zoom-in-up">Amet minim mollit non</p>
                <h2 class="about-titles" data-aos="zoom-in-up" data-aos-delay="200">MIMINO</h2>
                <p class="about-subtitles" data-aos="zoom-in-up" data-aos-delay="500"> Amet minim mollit non deserunt
                    ullamco est sit aliqua
                    dolor do amet sint.
                    Velit
                    officia consequat duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <picture data-aos="zoom-in-up" class="about-first-images">
                <source
                    srcset="./img/homepage/homepage-about-rest-img1-for-desk.jpg 1x, ./img/homepage/homepage-about-rest-img1-for-desk@2x.jpg 2x "
                    media="(min-width: 1280px)">
                <source
                    srcset="./img/homepage/homepage-about-rest-img1-for-tablet.jpg 1x, ./img/homepage/homepage-about-rest-img1-for-tablet@2x.jpg 2x"
                    media="(min-width: 1024px)">
                <source
                    srcset="./img/homepage/homepage-about-rest-img1-for-mobile.jpg 1x, ./img/homepage/homepage-about-rest-img1-for-mobile@2x.jpg 2x"
                    media="(min-width: 384px)">

                <img src="./img/homepage/homepage-about-rest-img1-for-mobile.jpg" alt="restaurant interior">
            </picture>
        </div>
        <div class="second-picture-container">
            <!-- <div class="slider-posicion-wraper">-->
            <picture data-aos="zoom-in-up" class="about-second-images">
                <source
                    srcset="./img/homepage/homepage-about-rest-img2-for-desk.jpg 1x, ./img/homepage/homepage-about-rest-img2-for-desk@2x.jpg 2x "
                    media="(min-width: 1280px)">
                <source
                    srcset="./img/homepage/homepage-about-rest-img2-for-tablet.jpg 1x, ./img/homepage/homepage-about-rest-img2-for-tablet@2x.jpg 2x"
                    media="(min-width: 1024px)">
                <source
                    srcset="./img/homepage/homepage-about-rest-img2-for-mobile.jpg 1x, ./img/homepage/homepage-about-rest-img2-for-mobile@2x.jpg 2x "
                    media="(min-width: 384px)">
                <img src="./img/homepage/homepage-about-rest-img2-for-mobile.jpg" alt="restaurant terrace">
            </picture>
            <p class="about-secondary-subtitle" data-aos="zoom-in-up">Amet minim mollit non deserunt ullamco est sit
                aliqua dolor do amet
                sint.
                Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <!-- SLIDER -->
        <div class="rest-slider-container">
            <div class=" swiper mySwiper ">
                <div class="rest-swiper-wrapper swiper-wrapper   ">
                    <div class=" rest-swiper-slide swiper-slide">
                        <picture class="restaurant-image">
                            <source
                                srcset="./img/homepage/homepage-about-rest-slider1-for-desk.jpg 1x, ./img/homepage/homepage-about-rest-slider1-for-desk@2x.jpg 2x "
                                media="(min-width: 1280px)">
                            <source
                                srcset="./img/homepage/homepage-about-rest-slider1-for-tablet.jpg 1x, ./img/homepage/homepage-about-rest-slider1-for-tablet@2x.jpg 2x"
                                media="(min-width: 1024px)">
                            <source
                                srcset="./img/homepage/homepage-about-rest-slider1-for-mobile.jpg 1x, ./img/homepage/homepage-about-rest-slider1-for-mobile@2x.jpg 2x "
                                media="(min-width: 384px)">

                            <img class="about-rest-swiper-img "
                                src="./img/homepage/homepage-about-rest-slider1-for-mobile.jpg" alt="Pic1">
                        </picture>
                    </div>
                    <div class=" rest-swiper-slide swiper-slide">
                        <picture class="restaurant-image">
                            <source
                                srcset="./img/homepage/homepage-about-rest-slider2-for-desk.jpg 1x, ./img/homepage/homepage-about-rest-slider2-for-desk@2x.jpg 2x "
                                media="(min-width: 1280px)">
                            <source
                                srcset="./img/homepage/homepage-about-rest-slider2-for-tablet.jpg 1x, ./img/homepage/homepage-about-rest-slider2-for-tablet@2x.jpg 2x"
                                media="(min-width: 1024px)">
                            <source
                                srcset="./img/homepage/homepage-about-rest-slider2-for-mobile.jpg 1x, ./img/homepage/homepage-about-rest-slider2-for-mobile@2x.jpg 2x "
                                media="(min-width: 384px)">

                            <img class="about-rest-swiper-img "
                                src="./img/homepage/homepage-about-rest-slider2-for-mobile.jpg" alt="Pic2">
                        </picture>
                    </div>
                    <div class=" rest-swiper-slide swiper-slide">
                        <picture class="restaurant-image">
                            <source
                                srcset="./img/homepage/homepage-about-rest-slider3-for-desk.jpg 1x, ./img/homepage/homepage-about-rest-slider3-for-desk@2x.jpg 2x "
                                media="(min-width: 1280px)">
                            <source
                                srcset="./img/homepage/homepage-about-rest-slider3-for-tablet.jpg 1x, ./img/homepage/homepage-about-rest-slider3-for-tablet@2x.jpg 2x"
                                media="(min-width: 1024px)">
                            <source
                                srcset="./img/homepage/homepage-about-rest-slider3-for-mobile.jpg 1x, ./img/homepage/homepage-about-rest-slider3-for-mobile@2x.jpg 2x "
                                media="(min-width: 384px)">

                            <img class="about-rest-swiper-img "
                                src="./img/homepage/homepage-about-rest-slider3-for-mobile.jpg" alt="Pic3">
                        </picture>
                    </div>
                    <div class=" rest-swiper-slide swiper-slide">
                        <picture class="restaurant-image">
                            <source
                                srcset="./img/homepage/homepage-about-rest-slider4-for-desk.jpg 1x, ./img/homepage/homepage-about-rest-slider4-for-desk@2x.jpg 2x "
                                media="(min-width: 1280px)">
                            <source
                                srcset="./img/homepage/homepage-about-rest-slider4-for-tablet.jpg 1x, ./img/homepage/homepage-about-rest-slider4-for-tablet@2x.jpg 2x"
                                media="(min-width: 1024px)">
                            <source
                                srcset="./img/homepage/homepage-about-rest-slider4-for-mobile.jpg 1x, ./img/homepage/homepage-about-rest-slider4-for-mobile@2x.jpg 2x "
                                media="(min-width: 384px)">

                            <img class="about-rest-swiper-img "
                                src="./img/homepage/homepage-about-rest-slider4-for-mobile.jpg" alt="Pic4">
                        </picture>
                    </div>
                </div>
                <div class=" rest-swiper-buttons ">
                    <div class="swiper-button-next">
                        <button type="button" class="left-swiper-btn">
                            <svg class="left-swiper-arrow">
                                <use class="" href="./img/icons.svg#left-arrow"></use>
                            </svg></button>
                    </div>
                    <div class="swiper-button-prev"><button type="button" class="rigth-swiper-btn">
                            <svg class="right-swiper-arrow">
                                <use href="./img/icons.svg#right-arrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>