<section class="details-restaurant">
  <div class="container">
    <div class="details-restaurant__wrap">
      <h2 class="details-restaurant__name">MIMIHO</h2>
      <h3 class="details-restaurant__title">Ресторан</h3>
      <p class="details-restaurant__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="details-restaurant__slider">
      <img
        class="details-restaurant__slider-image"
        src="./img/homepage/homepage-details-food-slider1-for-mobile.jpg"
        srcset="
          ./img/homepage/homepage-details-food-slider1-for-mobile.jpg    1x,
          ./img/homepage/homepage-details-food-slider1-for-mobile@2x.jpg 2x
        "
        alt="Фото готової страви"
        width="370"
        height="270"
      />

      <ul class="details-restaurant__arrows-list">
        <li class="details-restaurant__arrow">
          <button class="details-restaurant__previous-arrow">
            <svg class="details-restaurant__arrow-svg" width="30" height="17">
              <use href="./img/icons.svg#left-arrow"></use>
            </svg>
          </button>
        </li>
        <li class="details-restaurant__arrow">
          <button class="details-restaurant__previous-arrow">
            <svg class="details-restaurant__arrow-svg" width="30" height="17">
              <use href="./img/icons.svg#right-arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>

    <div class="details-restaurant__buttons">
      <button type="button" class="btn button-grey btn-section2">
        Забронювати столик
      </button>
      <button type="button" class="btn button-grey btn-section2">
        Переглянути меню
      </button>
    </div>
  </div>
</section>
