<section>
  <section>
    <div class="details-hotel">
      <h2>MIMIHO</h2>
      <h3 class="details-hotel__title">Готель</h3>
      <p class="details-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <!-- Here will be a slider -->

    <div class="details-restaurant__buttons">
      <button type="button" class=".btn-mob">Забронювати номер</button>
      <button type="button" class=".btn-mob">Переглянути ціни</button>
    </div>
  </section>
</section>
