<section class="about-restaurant">
    <div class="container">
        <p class="about-rest-pretitle">Amet minim mollit non</p>
        <h2 class="about-rest-title">MIMIHO</h2>
        <p class="about-subtitle"> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <picture>
            <source
                srcset="../../img/homepage/homepage-about-rest-img1-for-mobile.jpg 1x, ../../img/homepage/homepage-about-rest-img1-for-mobile@2x.jpg 2x"
                media="(max-width: 414px)">
            <img src="../../img/homepage/homepage-about-rest-img1-for-mobile.jpg" alt="restaurant interior">
        </picture>
        <picture>
            <source
                srcset="../../img/homepage/homepage-about-rest-img2-for-mobile.jpg 1x, ../../img/homepage/homepage-about-rest-img2-for-mobile@2x.jpg 2x "
                media="(max-width: 414px)">
            <img src="../../img/homepage/homepage-about-rest-img2-for-mobile.jpg" alt="restaurant terrace">
        </picture>
        <p class="about-secondary-subtitle">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
</section>