.header {
    height: 740px;
    padding: 15px 0px 20px 0px;
    /* position: absolute; */
    background-color: var(--shadow-on-arrows);
} 

.header > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.header-thumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 52px;
}


.header-logo {
    font-family: "Film P3 Bold";
    font-size: 36px;
    line-height: calc(39 / 36);
    letter-spacing: 0.3em;
    color: var(--white-color);
}



.header-navigation {}

.header-navigation-list {
    display: flex;
    gap: 20px;
}


.header-navigation-item {
    display: flex;
    gap: 6px;
    align-items: center;
}

.header-navigation-link {
    font-family: "Montserrat Medium";
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
    color: var(--accent-yellow-color);
}

.header-navigation-tel {}

.header-navigation-icon {
    fill: var(--accent-yellow-color);
}

.header-navigation-text {
    display: none;
}

.header-media-list {
    display: flex;
    gap: 20px;

}

.header-media-item {}

.header-media-link {}

.header-media-icon {
    fill: var(--svg-fill);
}