.hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65) ), url(../../public/img/homepage/homepage-hero-for-desktop.jpg);
  padding-top: 164px;
  padding-bottom: 65px;
}

.hero-title{
  font-family: 'Film P3 Bold', sans-serif;  
  font-weight: 700;
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  text-align: center;
  color: #FFFFFF;
}

.hero-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
}

.hero-subtitle{
  font-family: 'Times New Roman', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-align: center;

}
.hero-btn{
  background: rgba(0, 0, 0, 0.4);
}
/* .hero-thumb{
  display: flex;
  justify-content: center;
  flex-direction: column;
} */



@media  screen and (max-width: 414px) {
  .hero{
    height: 100%;
    max-width: 384px;
    background-image: url(../../public/img/homepage/homepage-hero-for-mobile.jpg);
  }
  .hero-text{
    margin-top: 24px;
  }
  .hero-subtitle{
    margin-top: 40px;
  }
  .hero-btn-thumb{
    margin-top: 113px;
  }

}
@media  screen and (min-width: 1024px) {
  .hero{
    
  }
  .text{
  }
  .subtitle{

  }

}
@media  screen and (min-width:  1280px) {
  .hero{
    
  }
  .text{
    margin-top: 32px;
  }
  .subtitle{
    margin-top: 64px;
  }

}