.about-hotel {padding: 18px 0px;
}

/* .hotel-pretitle {margin-bottom: 6px;}

.hotel-titles {margin-bottom: 16px;} */


    .hotel-pretitle, .hotel-titles {
        text-align: end;}


       .about-subtitles.hotel-subtitle {margin-left: auto;
          max-width: 242px; 
        /* margin-bottom: 28px;  */
        }

.about-hotel-container {margin-bottom: 32px;}


        .second-hotel-container {display: flex;
            align-items: center;
         gap: 21px;
    }

    .first-hotel-images {margin-bottom: 0;
    margin-left: 0;}

     .about-hotel-title-container {
    margin-bottom: 28px;}

/*------------------------TABLET-HOTEL-CSS---------------------------*/


     @media screen and (min-width: 1024px) {
        .about-hotel {padding: 0;}
    .about-hotel-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;
        gap: 46px; }
        
.second-hotel-container {justify-content: flex-end;
    align-items: flex-start;
gap: 48px;}


.about-subtitles.hotel-subtitle {max-width: 419px; }
}


@media screen and (min-width: 1280px) {.second-hotel-container {
    gap: 45px;}
.about-hotel-container{gap: 67px;}
.about-subtitles.hotel-subtitle {max-width: 488px; }}