.details-restaurant {
  padding-top: 24px;
  padding-bottom: 40px;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../../public/img/homepage/background-rest-detail-for-mobile.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-color: var(--black-color);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .details-restaurant {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../../public/img/homepage/background-rest-detail-for-mobile@2x.jpg);
  }
}

.details-restaurant__wrap {
  margin-left: 125px;
  margin-bottom: 48px;
}

.details-restaurant__name {
  font-family: 'Film P3 Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--white-color);
  margin-bottom: 12px;
}

.details-restaurant__title {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 20px;
}

.details-restaurant__text {
  font-family: 'Montserrat SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--second-text-color);

  max-width: 259px;
}

/* заглушка слайдеру */
.details-restaurant__slider {
  margin-left: 14px;
  margin-right: 0px;
  margin-bottom: 40px;
}

.details-restaurant .swiper {
  width: 100%;
  height: 100%;
}

.details-restaurant .swiper-slide {
  width: auto;
}

.details-restaurant .swiper-slide img {
  display: block;
  width: 100%;
  height: 270px;
  object-fit: cover;
}

/* заглушка слайдеру
.details-restaurant__slider-image {
  height: 270px;
  width: 370px;
} */

.details-restaurant__arrows-list {
  display: flex;
  justify-content: left;
  gap: 34px;

  /* margin-top: 24px; */
  padding-left: 25px;
}

.details-restaurant__button-arrow {
  background-color: transparent;
}

.details-restaurant__arrow-svg {
  fill: var(--white-color);
}

.details-restaurant .swiper-button-next::after,
.details-restaurant .swiper-button-prev::after {
  content: '';
}

.details-restaurant__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 16px;
}

.btn-section2 {
  padding: 14px 20px;
  min-width: 236px;
}

@media screen and (min-width: 480px) {
  .details-restaurant {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../../public/img/homepage/background-rest-detail-for-tablet.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: var(--black-color);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .details-restaurant {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../../public/img/homepage/background-rest-detail-for-tablet@2x.jpg);
    }
  }
}

/* TABLET */

@media screen and (min-width: 1024px) {
  .details-restaurant {
    padding-top: 48px;
    padding-bottom: 47px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.76),
        rgba(0, 0, 0, 0.76)
      ),
      url(../../public/img/homepage/background-rest-detail-for-tablet.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: var(--black-color);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .details-restaurant {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.76),
          rgba(0, 0, 0, 0.76)
        ),
        url(../../public/img/homepage/background-rest-detail-for-tablet@2x.jpg);
    }
  }

  .details-restaurant__wrap {
    margin-left: 278px;
    margin-bottom: 40px;
  }

  .details-restaurant__name {
    margin-bottom: 16px;
  }

  .details-restaurant__title {
    margin-bottom: 8px;
  }

  .details-restaurant__text {
    font-size: 16px;
    line-height: 1.25;

    max-width: 610px;
  }

  .details-restaurant__bottom-wrap {
    display: flex;
    flex-direction: row-reverse;
    gap: 18px;
  }

  /* заглушка слайдеру */
  .details-restaurant__slider {
    /* margin-left: 18px; */
    margin-right: 0px;
    margin-bottom: 0px;
    width: 270px;
  }

  /* 
  заглушка слайдеру
  .details-restaurant__slider-image {
    width: 650px;
    height: 270px;
  }
  */
  .details-restaurant__arrows-list {
    /* margin-top: 32px; */
  }

  .details-restaurant__buttons {
    /* padding-top: 150px; */
    justify-content: flex-end;
    margin-bottom: 55px;
  }

  .btn-section2 {
    padding: 14px 20px;
    min-width: 236px;
    background-color: var(--black-color);
  }
}

@media screen and (min-width: 1280px) {
  .details-restaurant {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../../public/img/homepage/background-rest-detail-for-desktop.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: var(--black-color);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .details-restaurant {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../../public/img/homepage/background-rest-detail-for-desktop@2x.jpg);
    }
  }

  .details-restaurant__wrap {
    margin-left: 323px;
  }

  .details-restaurant__bottom-wrap {
    gap: 34px;
  }

  /* заглушка слайдеру */
  .details-restaurant__slider {
    /* margin-left: 18px; */
    margin-right: 22px;
    margin-bottom: 0px;
  }

  /* заглушка слайдеру */
  /* .details-restaurant__slider-image {
    width: 853px;
    height: 270px;
  } */

  .btn-section2 {
    padding: 14px 20px;
    min-width: 236px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
