
.about-hotel {
    padding-top: 18px;
    padding-bottom: 28px;
}

.hotel-pretitle,
.hotel-titles {
    text-align: end;
}

.about-subtitles.hotel-subtitle {
    margin-left: auto;
    max-width: 242px;

}

.about-hotel-container {
    margin-bottom: 32px;
}

.second-hotel-container {
    display: flex;
    align-items: center;
    gap: 21px;
    margin-bottom: 32px;
}

.first-hotel-images {
    margin-bottom: 0;
    margin-left: 0;
}

.about-hotel-title-container {
    margin-bottom: 28px;
}

/*-----------------SWIPER----------------------*/

.swiper-buttons {
    display: flex;
    gap: 33px;
    /* margin-top: 27px;
margin-bottom: 10px;*/
}

.slider-wraper {
    width: 245px;
    /* left: 47px; */
    bottom: 39px;
}

/*------------------------TABLET-HOTEL-CSS---------------------------*/

/* @media screen and (min-width: 414px) {.slider-wraper{width: 428px;
right: 40px;}} */
@media screen and (min-width: 1024px) {
    .about-hotel {
        padding: 0px;
    }

    .about-hotel-title-container {
        margin-bottom: 0;
        padding-top: 120px;
    }

    .about-hotel-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        /* align-items: center; */

        margin-bottom: 0;
        gap: 46px;
    }

    .second-hotel-container {
        position: relative;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 48px;
        margin-bottom: 0;
    }


    .about-subtitles.hotel-subtitle {
        max-width: 419px;
    }

    .slider-wraper {
        width: 534px;
        position: relative;
        left: 0;
        bottom: 57px;
    }

}


/*-----------------------DESKTOP-HOTEL-CSS---------------------------------*/

@media screen and (min-width: 1280px) {
    .second-hotel-container {
        gap: 45px;
    }

    .about-hotel-container {
        gap: 67px;
    }

    .about-subtitles.hotel-subtitle {
        max-width: 488px;
    }

}


/*-------------------ABOU-HOTEL-SWIPER------------------*/

.swiper-slide {
    width: 100%;
    height: 100%;
    display: block;
}




.swiper-slide img {
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
}



.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    width: 245px;
}

.left-swiper-arrow {
    width: 30px;
    height: 16px;
    fill: black;
    border: none;
}

.right-swiper-arrow {
    width: 30px;
    height: 16px;
    fill: black;
    border: none;
}

.hotel-swiper-img {
    box-shadow: 2px 2px 60px rgba(0, 0, 0, 0.25);

}

/* .swiper-slide {
    display: block;
    max-width: 245px;
    max-height: 245px;
    object-fit: cover;
} */

.swiper-slide .swiper-slide-active {
    width: 194px;

}

.swiper-flex-btn {
    display: flex;
    gap: 33px;
    /* margin-bottom: 39px; */
    margin-left: 27px;
}

/* .kitchen-flex-btn {display: flex;
gap: 33px;
margin-bottom: 39px;
margin-left: 27px;}  */

.swiper-wrapper {
    min-width: 0;
}



.swiper-button-next>.left-swiper-btn {
    background-color: transparent;
    border: none;
}

.swiper-button-prev>.right-swiper-btn {
    background-color: transparent;
    border: none;
}

.swiper-button-next,
.swiper-button-prev {
    position: static;

    width: 30px;
    height: 16px;
    margin-top: 30px;
    z-index: 100;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}



.swiper-button-next::after,
.swiper-button-prev::after {
    opacity: 0;
}