.about-hotel {
    padding: 18px 0px;
}

.hotel-pretitle,
.hotel-titles {
    text-align: end;
}

.about-subtitles.hotel-subtitle {
    margin-left: auto;
    max-width: 242px;

}

.about-hotel-container {
    margin-bottom: 32px;
}

.second-hotel-container {
    display: flex;
    align-items: center;
    gap: 21px;
    margin-bottom: 32px;
}

.first-hotel-images {
    margin-bottom: 0;
    margin-left: 0;
}

.about-hotel-title-container {
    margin-bottom: 28px;
}

/*-----------------SWIPER----------------------*/

.swiper-buttons {
    display: flex;
    gap: 33px;
    /* margin-top: 27px;
margin-bottom: 10px;*/
}

/*------------------------TABLET-HOTEL-CSS---------------------------*/


@media screen and (min-width: 1024px) {
    .about-hotel {
        padding: 0px;
    }

    .about-hotel-title-container {
        margin-bottom: 0;
        padding-top: 120px;
    }

    .about-hotel-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        /* align-items: center; */

        margin-bottom: 0;
        gap: 46px;
    }

    .second-hotel-container {
        position: relative;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 48px;
        margin-bottom: 0;
    }


    .about-subtitles.hotel-subtitle {
        max-width: 419px;
    }
}

/*-----------------------DESKTOP-HOTEL-CSS---------------------------------*/
@media screen and (min-width: 1280px) {
    .second-hotel-container {
        gap: 45px;
    }

    .about-hotel-container {
        gap: 67px;
    }

    .about-subtitles.hotel-subtitle {
        max-width: 488px;
    }
}

/*-------------------ABOU-HOTEL-SWIPER------------------*/

.left-swiper-arrow {
    width: 30px;
    height: 16px;
}

.right-swiper-arrow {
    width: 30px;
    height: 16px;
}

.hotel-swiper-img {
    box-shadow: 2px 2px 60px rgba(0, 0, 0, 0.25);
    margin-right: 0;
}


.hotel-swiper-img {

    display: block;
    max-width: 254px;
    max-height: 254px;
    object-fit: cover;

}

@media screen and (min-width: 1024px) {

    .hotel-swiper-item {
        margin-top: -83px;

    }

    .swiper-buttons {
        margin-bottom: 39px;
    }

    .hotel-swiper-img {

        max-width: 194px;
        max-height: 194px;
    }


    @media screen and (min-width: 1280px) {
        .hotel-swiper-img {
            max-width: 254px;
            max-height: 254px;

        }

        .hotel-swiper-item {
            margin-top: -275px;
            margin-bottom: 40px;
        }
    }
}


/*_______SWIPER______________*/
 .swiper {
      width: 50%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
    
      align-items: center;
      width: 245px;
    }

.left-swiper-arrow {
    width: 30px;
    height: 16px;
     fill: black;
     border: none;
}

.right-swiper-arrow {
    width: 30px;
    height: 16px;
    fill: black;
    border: none;
}

.hotel-swiper-img {
    box-shadow: 2px 2px 60px rgba(0, 0, 0, 0.25);
max-width: 245px;
}


.swiper-slide {

    display: block;
    max-width: 254px;
    max-height: 254px;
    object-fit: cover;

}

.swiper-slide .swiper-slide-active {max-width:245px ;}
.sdssds {display: flex;
gap: 33px;
margin-left: 27px;} 





.swiper-button-next>.left-swiper-btn {background-color: transparent;
border: none;}

.swiper-button-prev>.right-swiper-btn {background-color: transparent;
border: none;}

.swiper-button-next, .swiper-button-prev {    position: static;

    width: 30px;
    height: 16px;
   margin-top: 30px;
    z-index: 100;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}



    .swiper-button-next::after,
    .swiper-button-prev::after {opacity: 0;}

    .button-prev.swiper-button-disabled {
        border: none;
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}